[2013-08-12 17:51] rajbot opened #5 "REMOVE_TAG not working in modify_metadata()"
REMOVE_TAG doesn't seem to be working:

[code]

[2013-08-21 03:41] #5 closed, assigned to nobody

[2013-09-17 18:47] rajbot opened #14 "ujson requirement causes install failure on linux boxes without python-dev installed"
A user trying to `sudo pip install internetarchive` received this error on a debian-based distro: http://pastebin.com/zRfgEQmm

Fixed by doing a `sudo apt-get install python-dev` first.

To make it easier for our users, we should remove `ujson` as an install requirement.

If `ujson` is present in the environment, we should use it, but fall back to `json` if needed.

Here is the traceback in case t

[2013-09-17 19:02] #14 closed, assigned to nobody

[2013-09-17 22:14] jdurno opened #15 "Minor bug .internetarchive.yml"
Hi,

ia-wrapper seems to expect the file .internetarchive.yml to exist in the users' home directory but it doesn't create the file during installation. If the file isn't there it throws the following error.

Traceback (most recent call last):
  File "modify_metadata.py", line 7, in <module>
    item.modify_metadata(md)
  File "/usr/local/lib/python2.7/dist-packages/internetarchive/internetarchive.

[2013-09-17 22:43] rajbot opened #16 "Update documentation"
Docs need some updating. Based on some informal polling, external users are using the `ia` cli tool a lot more than they are using the `internetarchive` python module.

I would suggest putting the command-line usage at the top of the documentation, and documenting the python interface at the bottom.

[2013-09-20 19:52] jeffThompson opened #17 "Request: how to search by multiple parameters"
Thanks for this code!

One request: is it possible, and if so how can one search using multiple parameters? For example, if I want to search by the word `python` in the collection `gutenberg` and sort by `downloads`.

[2013-09-22 01:13] #17 closed, assigned to nobody

[2013-09-22 01:16] #15 closed, assigned to jjjake

[2013-09-23 23:29] #16 closed, assigned to nobody

[2013-09-25 02:32] vmbrasseur opened #19 "Better error handling needed for bonehead args"
Command line used:

[code]

Result is an error:

[code]

Both AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY are set and exported (naturally I'm not sharing those with you; neener neener neener :-P ).

Judging from the code at line 35 of ia_upload.py, it's seen that it has --metadata args but somehow something isn't splitting correctly. As you can see from the example above, a certain bonehead (<ahem

[2013-09-25 02:49] vmbrasseur opened #20 "Perplexing login error output"
Using the following command:

[code]

(see? per #19 it works **so much** better if you actually don't fubar your metadata args)

AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY are both set and confirmed against [the keys on my IA account](https://archive.org/account/s3.php).

The error message received:

[code]

So is the problem that there's nothing listening at the other end ("No handler was ready

[2013-09-25 23:07] rajbot opened #22 "Can not upload with `date` in metadata cli argument"
See #20

`ia upload` fails if `--metadata="date:2013"` is passed as a cli argument.

 The files are not uploaded and usage information is dumped:

[code]

[2013-09-25 23:24] rajbot opened #24 "subject metadata arguments are ignored"
`ia upload` is ignoring --metadata="subject:foo".

I tried:

[code]

Although the --debug shows the subject fields are added to the S3 headers, the meta.xml does not contain any `<subject>` elements: https://archive.org/download/testupload_2013_09_25_5/testupload_2013_09_25_5_meta.xml

[2013-09-25 23:48] #24 closed, assigned to nobody

[2013-09-26 16:42] rajbot opened #25 "Add test cases"
We need a few more test cases:
- [x] Test the `ia` command line. Right now we only test the python interface.
- [x] Add a script to test uploading, outside of the py.test unit testing framework.

[2013-09-27 18:58] #22 closed, assigned to nobody

[2013-09-27 19:31] rajbot opened #27 "ia upload should show better error message if S3 keys not set"
Currently we just show usage info

[2013-09-27 23:07] #20 closed, assigned to nobody

[2013-09-27 23:08] #27 closed, assigned to nobody

[2013-10-02 21:36] kngenie opened #28 "internetarchive.Item fails to retrieve metadata when metadata_timeout > 0"
with 04302f3b

    {}

    {u'files': [{u'sha1': u'9c02b75a53c14e0fc151e4e45e8a9c475da0d9cb', u'name': u'WW
    ....

[2013-10-03 21:58] kngenie opened #29 "ia download fails with 404 when file name has '%'"
probably other URL-special characters, too.

[2013-10-07 20:24] #29 closed, assigned to nobody

[2013-10-10 22:27] rajbot opened #30 "`ia download item` tries to download files twice"
Happens with both git master and verison 0.4.3 from PyPi. Did not happen with version 0.4.1.

[code]

Also, we need a test case that catches this.

[2013-10-11 22:54] mikemccabe opened #31 "docopt parse issue with ia mine"
$ ia mine
...
docopt.DocoptLanguageError: unmatched '['

[2013-10-15 18:36] #31 closed, assigned to nobody

[2013-10-17 00:52] samuel-archive opened #34 "add delete"
please add  delete file from item command

[2013-10-21 18:37] #30 closed, assigned to nobody

[2013-10-21 20:17] #34 closed, assigned to nobody

[2013-10-23 20:07] chfoo opened #35 "Out of memory when uploading files"
Using version 0.4.4, I am trying to upload some files but it gets killed for running out of memory:

[code]

syslog:

[code]

`ls -hal`:

[code]

[2013-11-10 23:12] jhauser14905 opened #36 "ia mine --output creates output file with only the first letter of specified filename"
jake:
i love the effort you've put into this.

i was playing with "ia mine" and per the documentation was attempting to use the "--output filename" feature. the result is a file output whose filename is "f".

not a big deal in that i can use i/o redirection to create the proper filename:
"ia mine itemlist.txt > eastoncat_metadata.json" instead of
"ia mine itemlist.txt --output eastoncat_metadata.j

[2013-11-11 19:55] #36 closed, assigned to nobody

[2013-11-11 20:54] #35 closed, assigned to nobody

[2013-11-11 21:16] #28 closed, assigned to nobody

[2013-11-11 21:18] #19 closed, assigned to nobody

[2013-11-14 05:22] jhauser14905 opened #37 "class File(object) issues in internetarchive/item.py"
i don't understand lines #418-#420.
i think they make sense if they're trying to define "length" rather than "size", because original and derived (video) files have a "length" property ("length" is the number of seconds in the video) and jpgs and metadata files don't.

is that what the code is trying to do with the None if test?

if not, #418 is a dup of line 417 which handles "size".

and shouldn

[2013-11-15 01:11] rajbot opened #38 "Single-file downloads via CLI tool are broken"
[code]

[2013-11-15 01:17] rajbot opened #39 "Download of large file causes memory error"
[code]

[2013-11-15 02:15] #38 closed, assigned to nobody

[2013-11-15 19:56] #37 closed, assigned to nobody

[2013-11-18 03:05] ghost opened #40 "ValueError"
I get the following error:

$ ia download AssemblyField-VaCompilation2 --glob='*ogg'

Traceback (most recent call last):
  File "/usr/local/bin/ia", line 9, in <module>
    load_entry_point('internetarchive==0.4.7', 'console_scripts', 'ia')()
  File "/usr/local/lib/python2.7/dist-packages/iacli/ia.py", line 89, in main
    ia_module.main(argv)
  File "/usr/local/lib/python2.7/dist-packages/iacli/i

[2013-11-18 19:35] #40 closed, assigned to nobody

[2013-11-21 00:05] fibn144 opened #41 "Calling Mine.items() multiple times keeps increasing self.queued_count"
Unless I'm not understanding how it's supposed to be used, it seems like the best way to fix it would be to just check whether you've already gotten the items.

[2013-11-26 20:49] #39 closed, assigned to nobody

[2013-12-20 22:35] #41 closed, assigned to nobody

[2013-12-20 22:36] #25 closed, assigned to jjjake

[2013-12-20 22:41] jjjake opened #44 "Add support for `ia mine` to accept identifiers from stdin."
It would be nice to be able to feed `ia mine` identifiers through stdin. For example:

[code]

[2014-01-25 08:48] joepie91 opened #47 "ConnectionError on upload"
I've been working on a script to automatically upload recorded livesets to the Internet Archive, but I've been running into a ConnectionError exception while doing so, and I've been unable to figure out what is causing it.

I've been attempting to run this several times during the past few weeks, thinking it might just be a network issue, but the issue always occurs for this script. Another script

[2014-01-30 21:19] nemobis opened #48 "[Enhancement] Check hash of uploaded files"
It would be nice if there was a way for the script to check that the hash of the file actually received/stored by the item matches the local one. I know that this is not trivial because it would need to be async or something (waiting for archive.org to update metadata): maybe it should instead be a command to compare uploaded files to local copies and retry uploads/downloads when there are mistake

[2014-01-31 23:10] #48 closed, assigned to nobody

[2014-02-03 23:26] rajbot opened #49 "pip install fails on OS X 10.9.1"
[code]

[2014-02-04 15:29] wcaleb opened #50 "Error in docs on using search.results()"
I think your documentation may contain an error. When you explain how to iterate over search results, your documentation is missing some parentheses for the `results()` function:

It currently reads:

[code]

I believe it should read:

[code]

[2014-02-04 20:34] #50 closed, assigned to nobody

[2014-02-04 21:18] #44 closed, assigned to nobody

[2014-03-26 18:54] fibn144 opened #53 "Get list of fields/columns"
There doesn't seem to be any way to get the names of fields for search?
Or any way to get columns for list?

[2014-03-30 09:26] ngeiswei opened #54 "Modify tags of files"
Is it possible to use the bash or Python interface to change the tags of a file, as opposed to an item.

For instance, I can

ia metadata [--modify=key:value...] identifier

to modify the tag of item identifier, but can I do that for say the Title of a song within that item?

[2014-03-31 20:12] #54 closed, assigned to nobody

[2014-04-15 20:59] #47 closed, assigned to nobody

[2014-04-15 20:59] #49 closed, assigned to nobody

[2014-04-19 23:24] boyska opened #56 "When uploading to someone else's Item, doesn't handle the 403"
Let's take the item archive.org/details/asd as an example. This is not mine.
If I do `ia upload ia myfile.pdf` it replies like that (

[code]

It's a lot of time for such a simple error; plus, the error does not clear out to the user what happened. I'm going to submit a patch for this.

[2014-04-24 02:37] ivan opened #57 "OverflowError when uploading large file"
[code]

[2014-05-14 23:22] alexbrollo opened #59 "ia doc mistake"
Here: https://pypi.python.org/pypi/internetarchive#command-line-usage
ia doc tells to export two variables to edit/upload IA items:

$ export IAS3_ACCESS_KEY='xxx'
$ export IAS3_SECRET_KEY='yyy'

They don't run; the right code seems:

$ export AWS_ACCESS_KEY_ID='xxx'
$ export AWS_SECRET_ACCESS_KEY='yyy'

Can you test then fix doc if I'm right?

[2014-05-15 20:31] #59 closed, assigned to nobody

[2014-05-17 14:29] Famicoman opened #60 "CLI tool not found, but module installed."
I installed the wrapper with:
$ sudo pip install internetarchive

It says the module installed and I can access it from within a python program, but upon running
$ ia --help
I get "-bash: ia: command not found"

Python version - Python 2.6.6
pip version - pip 1.5.5
OS - Debian 6.0.9 (64bit) - kernel 2.6.38.2

[2014-05-19 18:15] #60 closed, assigned to nobody

[2014-05-22 12:30] joepie91 opened #62 "ConnectionError on upload"
Creating a new ticket, since I can't seem to reopen #47.

I just tried to write another script using the `internetarchive` module, and again I am unable to upload anything. When I attempt to upload something, I get the following output:

[code]

This is my code:

[code]

I have verified through some duct-tape debugging that my credentials are set correctly, and that the Authorization header is als

[2014-05-22 20:11] joepie91 opened #63 "How to deal with Unicode filenames?"
Upon encountering a filename that contains Unicode(?) characters, the following occurs:

[code]

Evidently, it doesn't like these characters. What is the correct way of dealing with this, that doesn't upset either the library or the IA HTTPd? Is it possible at all to have non-ASCII characters in filenames on IA?

For reference, [this](http://pdf.yt/d/LxGP4MUquejAAo0N) is the offending document (se

[2014-05-22 23:19] #62 closed, assigned to nobody

[2014-06-15 13:25] rohit-dua opened #64 "metadata variables not being defaulted null."
[code]

---

Suppose we upload a file with say description non-null ("this is a description"), and then upload another file with description null ( "" or None ), then somehow the internetarchive module does not overwrite the previous description value ("this is a description.") with None.

[2014-06-16 18:03] #64 closed, assigned to nobody

[2014-07-28 21:26] #53 closed, assigned to nobody

[2014-08-12 19:53] phil-el opened #67 "cascade_delete not working"
rohit-dua tried to use cascade_delete=True when calling delete on a File but it didn't work, looking at the code I see https://github.com/jjjake/ia-wrapper/blob/master/internetarchive/item.py#L705

headers={'cascade_delete': cascade_delete},

Shouldn't it

headers={'x-archive-cascade-delete': cascade_delete},

[2014-08-15 21:27] #67 closed, assigned to nobody

[2014-08-25 05:37] eeejay opened #69 "Unicode in x-archive-meta header keys fails on upload"
When I try to upload something through a utf-8 encoded csv with Chinese characters, I get the following error. I tried doing urllib.parse.quote on the value with no success.

When I remove the unicode characters, it works fine.

Traceback (most recent call last):##########                ] 1/2 - 00:00:00
  File "/home/eitan/tmp/.amir/bin/ia", line 9, in <module>
    load_entry_point('internetarchi

[2014-08-27 12:49] CRJ2000 opened #70 "TypeError: 'float' object cannot be interpreted as an integer in Search.py"
In "def **iter**"...

"total_pages = ((self.num_found / self.params['rows']) + 2)" returns a Float. This causes a "'float' object cannot be interpreted as an integer' exception in the next line ("for page in range(1, total_pages)").

I believe total_pages should be the ceil() of the number found divided by the rows. If truncated to an integer, the last remaining items would not be returned.

[2014-08-28 21:31] #70 closed, assigned to nobody

[2014-10-06 20:41] #56 closed, assigned to nobody

[2014-10-09 23:06] jjjake opened #75 "Use trollius (asyncio) instead of gevent."
Gevent is a pain to install, and many users do not get the benefits of ia-wrapper's concurrent functionality. Trollius is easy to install, so all of ia-wrapper's concurrent functionality can be provided by default -- no need to install gevent to use `Mine()`. Asyncio has also been included in the Python standard library (on a provisional basis) as of 3.4.

I have created a new branch to start work

[2014-11-02 03:25] konklone opened #76 "Uploader is so close to working under Python 3"
I've been trying to get ~40GB of government reports into the Archive, as detailed in https://github.com/unitedstates/inspectors-general/issues/63. It's a Python 3 project, so I've been running up against some hurdles.

1. Annoying, but not a dealbreaker, is that I can't use the `[speedups]` tag in my `requirements.txt`, because `gevent` is not compatible with Python 3. I see you're working on a re

[2014-11-02 09:53] konklone opened #77 "upload_file() calculates checksums even if checksum isn't used."
I'm trying to upload a large file, and the extreme slowness before the uploader begins sending data suggests to me that it's either reading the whole file into memory, or at least reading over it once before beginning.

It seems like it [might be a problem here](https://github.com/jjjake/ia-wrapper/blob/master/internetarchive/item.py#L440-L442), when it looks to calculate a size hint for the API:

[2014-12-26 19:48] bitsgalore opened #78 "Search by URL in Wayback?"
While trying out the wrapper I couldn't figure out how to search for specific URLS in Wayback. Is this possible at all?

Already tried figuring this out from the achive.org web interface. There this works (using simple search):

<http://web.archive.org/web/*/http://www.projectmoonbase.com/>

However if I try this using an advanced search:

<https://archive.org/search.php?query=%28http%3A%2F%2Fwww.

[2015-04-01 14:00] johtso commented on #69
I'm experiencing this same issue. Although I'm confused as to why unicode characters in a filename would cause a non-ascii metadata key to exist..

[code]

What's the recommended workaround?

[2015-04-04 13:23] viric opened #80 "Broken pipe uploading"
Using "ia upload" I get a Broken Pipe error at the 2nd megabyte transferred. With tcpdump I see that the remote S3 host actually sends a TCP reset; ia retries with a 2nd connection, but it's also reset, and then the python exception is dumped to stderr. The "-R" (max num of retries) seems to have little effect

I've tried regenerating the AWS keys, I ensured that the process has the env vars set w

[2015-04-10 02:43] saper commented on #80
Which version of `requests` do you have? Are you using `cython` ? It might be shazow/urllib3#535 which breaks HTTP pipelining on a compressed stream.

[2015-04-10 17:51] saper commented on #77
Yes, it should be possible to rewrite upload to even use a non-seekable stream if possible. MD5 is not mandatory (we can add a parameter to supply content MD5 if known.) We could make md5 a parameter to be supplied (if you agree to change the API) and mandatory for `verify` and maybe `delete`. MD5 can be also calculated during the upload and returned to verify metadata after upload.

I also think

[2015-04-11 10:55] saper commented on #78
My impression is that The Internet Archive consists of two Independent parts: the WayBack machine that pull stuff from the Web and the archive where stuff is explicitly pushed. Currently `ia-wrapper` deals only with the latter I think.

[2015-05-12 15:50] johtso commented on #80
I'm having this same issue. I tend to only get the broken pipe with a specific file/item, and it then repeatedly gives me the broken pipe at roughly the same stage of the upload.

versions:

[code]

[2015-05-12 16:13] johtso commented on #80
Tried upgrading to latest requests (`2.7.0`) and still experience the same problem.

[2015-05-12 17:58] jjjake commented on #76
Uploads should now work in py3, see e34f625c50ee0a652f42902eaa09958ea7def8ea

[2015-05-12 17:58] #76 closed

[2015-05-12 18:19] konklone commented on #76
Thank you!!

[2015-05-14 17:50] saper commented on #80
What does the tcpdump say? Are you having `Connection: keep-alive` set in the headers? I have had the same issue you have and `requests` upgrade fixed it for me. You might need to apply https://github.com/jjjake/ia-wrapper/pull/82

[2015-06-08 21:15] tungol opened #84 ""Too many open files" when uploading 1020th file."
On file number 1020 uploaded in a single session, I'm getting an error. Reproduced twice now, both times on the 1020th file. I can start up again and upload additional files to the same item.

Here's the traceback, parts in double square brackets are replacement generic values:

Traceback (most recent call last):
  File "/usr/bin/ia", line 9, in <module>
  File "/usr/lib/python2.6/site-packages/in

[2015-07-06 14:20] nemobis opened #86 "Handle requests.exceptions.ConnectionError: HTTPConnectionPool"
Maybe it's my fault or my machine/whatever, but this exception seems weird:

[code]

[2015-07-20 18:15] wumpus opened #87 "503s when downloading are unexpectly persistent"
This client doesn't throttle when it gets a 503 from the server. I see problems when I'm doing

cat big-list-of-ids | parallel ia download {1} {1}_abbyy.gz

Once it starts getting 503s, it gets a lot. Notice that each client execution is a separate process.

I added a time.sleep(2.0) call to item.py right before "raise HTTPError". Now I only see a couple of 503s before it returns to normal downloa

[2015-07-20 18:30] #75 closed

[2015-07-23 19:57] jjjake opened #88 "Ship a 1.0 release"
I've just created a [1.0 branch](https://github.com/jjjake/internetarchive/tree/1.0).

I'd like to improve the test coverage, docs, and freeze the Python API and CLI before shipping. I would also like to improve Python 3 compatibility.

Suggestions, contributions, and questions are very welcome!

[2015-08-08 22:27] chronomex opened #89 "Configuration fails on Debian stable"
[code]

If I change `raw_input` to `input`:

[code]

[2015-08-08 22:52] saper commented on #89
I think you should try running ia. scripts under Python 2, not Python 3.

[2015-08-08 23:12] chronomex commented on #89
Hmmm, it works just fine in python2, ok.

But: because of this bug https://bugs.launchpad.net/ubuntu/+source/python-pip/+bug/1308714 I can't use it on the machine that I want to.  Anyway, that is my problem now, not yours.

[2015-08-08 23:12] #89 closed

[2015-08-09 00:47] saper commented on #89
#83 indicates that uploads may work with Python 3 once you set it up. Didn't test that. I think it's just a minor nuisance.

[2015-08-10 01:24] JesseWeinstein opened #90 "Implicitly access items in collections"
It would be nice if there was an easier way to get the items in a collection.

This could be implemented with a subtype of Item, called Collection, that would automatically run a search like `collection:[identifier]`, and could be iterated to produce the items in the collection.

If this sounds like a good approach, I'll code it up and send in a PR.

[2015-08-10 23:46] jjjake commented on #90
@JesseWeinstein I think this idea sounds great. I would recommend working on the 1.0 branch, and subclassing from `internetarchive.item.BaseItem()`. Please let me know what I can do to support you. Thanks!

[2015-08-11 00:02] JesseWeinstein commented on #90
Great, I'll start working on that!

[2015-08-11 04:36] JesseWeinstein commented on #90
I'm confused about the intended difference between BaseItem and Item. Collections are Items, so I'm not sure why it would be better to subclass from BaseItem. Can you say more about that?

[2015-08-11 07:40] JesseWeinstein commented on #90
https://github.com/jjjake/internetarchive/pull/91

[2015-08-11 19:01] jjjake commented on #90
Regarding your question about subclassing from `BaseItem` vs. `Item`:

Good question. My initial thoughts were that the Item object contains methods that might not be fitting for a Collection object (i.e. Generally speaking, items shouldn't contain any files other than a few system files, however people often confuse "uploading to a collection" as uploading thousands of files to a single collectio

[2015-08-11 21:05] jjjake commented on #90
Pull request 92 is now merged into the 1.0 branch.

[2015-08-11 21:05] #90 closed

[2015-10-01 05:41] JesseWeinstein opened #97 "FAILURE in test_config.py in test_get_auth_config"
This is caused by https://github.com/getsentry/responses/issues/80 which prevents the mocked cookies from being stored in the session. :-(

[2015-10-01 22:22] #69 closed

[2015-10-11 13:00] viric opened #100 "Could uploads be made to use https?"
Hello,

if I understand correctly, all uploads work in cleartext. Could it be made to use https?

Thank you.

[2015-10-13 18:36] catalandres opened #102 "403 Client Error: Forbidden"
I keep getting a "403 Client Error: Forbidden" error whenever I try to upload.
Entering ```ia configure``` does create the file with the S3 credentials.
The funny thing is that ```ia``` used to work fine a month ago.

I have deleted the files that ```ia configure``` creates to recreate them later, to no avail.
Any ideas on what to try next?

[2015-10-13 18:41] catalandres opened #103 "Document: Using spreadsheets to upload new files and modify metadata"
Using a spreadsheet to upload new files or modify metadata appears as an option but it is not documented anywhere. Is there any chance we can get a minimum viable example?

[2015-10-13 19:05] catalandres commented on #102
Apparently it was an item-specific problem. I was trying to create an item for an ID that was already there. The error message threw me off. Thanks!

[2015-10-13 19:05] #102 closed

[2015-10-21 22:14] CarlFK commented on #63
I have been bumping into unicode issues.
I forked, so yes, this is a tainted code, but after an hour or so of struggling it would be nice if someone else could take a look and tell me what's going on.

[code]

[2015-10-21 22:19] CarlFK commented on #63
Hmm.. tried it on a clean box and don't have creds:
[code]

What I don't understand is why I don't get that on the first box because I never did the CLI thing to setup creds.  grumble.  sorry for dumping crap in the issue tracker, I wanted a cleaner report but ran out of time.

[2015-10-22 02:39] CarlFK commented on #63
I think there are two things that need to handle unicode:  Identifier and file name.
I think my branch handles file name.  But when I use an archive identifier with a unicode char I get:
[code]
I don't have a simple >>> steps yet.  I have been using my video uploader driver as a starting point.
and now I need to get some sleep, so this may have to wait for more debugging.

[2015-10-22 03:44] CarlFK commented on #63
Here is a simple example of an error when  the identifier has unicode chars:

[code]
This is perhaps a separate issue from filename, let me know if you want me to open a new github issue.

ps - the example ia pages no longer work:
https://archive.org/download/iacli-test-item3/
"The item is not available due to issues with the item's content."

[2015-10-22 14:36] CarlFK commented on #63
http://archive.org/about/faqs.php#1099

I think it is reasonable to assume this applies to identifiers too.

[2015-11-06 01:04] jjjake opened #105 "Add retry support to `File.delete()` and `ia delete`."
Add support for retries on 503 errors in `delete()` (like in `upload()`).

[2015-11-06 01:14] jjjake commented on #100
All requests are currently HTTP by default, but can be switched to HTTPS by adding `secure=True` to your config. For example:

[code]

You can also add `secure: True` to your ia config file (i.e. `~/.config/internetarchive.yml`) to make all requests HTTPS by default.

[2015-11-06 01:14] #100 closed

[2015-11-06 01:19] jjjake commented on #87
Thanks for the report @wumpus, I appreciate it. I added this functionality in 4c6dba07b618adf96c7844a1d5d224fa458c98cf using `urllib3.Retry()`.

In v0.9.7, in the CLI, you can now do:

[code]

[2015-11-06 01:19] #87 closed

[2015-11-06 01:23] jjjake commented on #103
Thanks @catalandres, this should definitely be documented. Thanks for creating this issue.

Until I do that, you can use this as a template: https://github.com/kngenie/ias3upload/blob/master/metadata.csv

The only difference is that the `item` column should be `identifier` in `ia`. For more details on preparing the `metadata.csv` file, you can also refer to here: https://github.com/kngenie/ias3upl

[2015-11-06 04:54] wumpus commented on #100
Jake, in the new world of "Encrypt all the things", I think what viric wanted was a changed default, not an option. Thanks for confirming that the encryption code is already present.

[2015-11-08 19:23] bui opened #106 "six==1.4.1"
this is an old version that prevents me from installing ia globally, why is it forced at this version?

[2015-11-09 15:03] ckarpinski commented on #103
Hi, to clarify for myself - will ia upload --spreadsheet=metadata.csv  upload the files along with the spreadsheet or is this only uploading the metadata?

I have instructions for putting a series of items into zip files with identifiers for names into a directory along side the spreadsheet, but that as far as I have gotten.

[2015-11-09 23:59] jjjake commented on #103
`ia upload --spreadsheet=metadata.csv` will upload the files specified, as well as add the metadata from the spreadsheet to the item if it is the initial upload to the item. It will not upload the spreadsheet itself.

If the item has already been uploaded, you can use `ia metadata --spreadsheet=metadata.csv` to modify/update the metadata for that item.

Does that make sense @ckarpinski? Please let

[2015-11-10 00:09] ckarpinski commented on #103
Yes that does make sense, thank you so much. I will try it out and will let you know if I run into any issues.

[2015-11-10 00:11] jjjake commented on #106
@bui thanks for the heads up. Others have reported the same issue to me recently. I will be reevaluating the current version requirements for the next release.

After looking at https://bitbucket.org/gutworth/six/src/1991f8b5b654f077e773f05695a08e0506b7367f/CHANGES, I think I can loosen up the version requirements for six (i.e. six>=1.4.1).

[2015-11-12 15:40] ckarpinski commented on #103
Hi again,
I used ia configure and logged into our account and then I think got the upload to run (had to change "item" to "identifier" in the metadata.csv) but after looking like it was uploading the images from the first zip file of files listed on the csv it stopped with this "127/127 - 00:00:00
 error uploading suitedesreflexio00amal_images.zip to suitedesreflexio00amal, 400 Client Error: Bad R

[2015-11-12 19:12] ckarpinski commented on #103
Hi again,
I attempted to bulk upload by configuring to my account and then using ia upload --spreadsheet=metadata.csv (each line in the spreadsheet corresponds to a zip file of files)
and it looked like it was working, it said:
uploading suitedesreflexio00amal_images.zip: [#############################   ]
for each of the 127 files inside the zip. but when it got to the last one it then shows this

[2015-11-15 03:47] wumpus opened #107 "example is incorrect"
The README.md says:

$ia search 'subject:"market street" collection:prelinger' | parallel -j40 'ia metadata {} > {}_meta.json'

But the output of ia search is a big javascript object... did you mean to have a jq in there to grab the identifier?

[2015-11-19 21:34] tcj opened #108 "Duplicate log lines"
internetarchive.log will contain data like this, where multiple identical lines appear one after the other (note the timestamps):

[code]

[2015-11-19 22:54] tcj opened #109 "Long downloads from a 'search' get a socket.error"
commandline example: `ia download --search="collection:tosec" | tee -a output.log`

once it hits a sizable file, it will:
[code]

[2015-11-21 00:16] wumpus opened #110 "item throws a non-obvious error from the cli, more obvious on the web"
I'm trying to download a file that looks like this on the web:

So it's going to fail, right? Well, it does, but it's a bit odd:

It'd be nice to have a somewhat better error message, and a non-zero exit?

[2015-11-21 21:43] wumpus commented on #87
Jake mentioned that --retries has a default of 2 or 3 or so, which is probably enough for most purposes.

[2015-11-23 23:31] jjjake commented on #110
Thanks @wumpus. I will add a non-zero exit to the next release.

Note that the output of `ia download` was made less verbose in the last release. Use `ia download --verbose ...` or `ia download --log ...` to see more detailed information about errors.

In the new output, a character is printed for every file. A `d` is printed if a file was downloaded successfully, `e` if there were any errors, and

[2015-12-04 20:03] jjjake commented on #107
Thanks @wumpus, example has been updated.

[2015-12-04 20:03] #107 closed

[2015-12-05 00:03] jjjake commented on #106
This has been addressed here: https://github.com/jjjake/internetarchive/blob/master/setup.py#L24

[2015-12-05 00:03] #106 closed

[2015-12-05 00:05] jjjake commented on #110
`ia download` now exits with a non-zero status if there are any errors/failed downloads.

[2015-12-05 00:05] #110 closed

[2015-12-05 00:06] #80 closed

[2015-12-08 00:45] #108 closed

[2015-12-08 00:45] #97 closed

[2015-12-17 22:43] jjjake commented on #78
@bitsgalore I've been working on adding support for `ia` plugins, and now have something working. I forked your iawayback repo and converted it to an `ia` plugin. See https://github.com/bitsgalore/iawayback/pull/1 for more details.

As this feature is out of scope for the time being, it might be best implemented as a plugin.

[2015-12-17 22:43] #78 closed

[2015-12-19 00:48] jjjake commented on #86
Metadata GET's are now retried 3 times by default, more can be specified like so:

[code]

[2015-12-19 00:48] #86 closed

[2015-12-31 16:01] jleclanche opened #115 "ia does not close files after uploading them"
When uploading a lot of files at once this happens:

[code]

[2015-12-31 16:04] jleclanche commented on #115
I address this in #114

[2016-01-01 06:05] jleclanche commented on #115
Actually it's not fully fixed by that commit, just slower to reproduce now... Im not sure where else there's dangling handles.

[2016-01-01 08:42] wumpus commented on #115
ls /proc/<pid>/fd is your friend... you might be able to see a pattern in the filenames or something.

[2016-01-05 20:38] konklone commented on #77
@jjjake Did this get addressed elsewhere? (I haven't followed the whole repo closely.)

[2016-01-05 21:28] saper commented on #77
Not quite... I can start working on this if that's okay...

[2016-01-08 01:43] jjjake commented on #77
@konklone @saper -- My apologies, I misunderstood the issue here.

@konklone you are correct. `upload_file()` is calculating a checksum for the file even if checksum is False. This should be an easy fix. `utils.get_md5(body)` should not be called if `checksum`, `verify` and `delete` are all False.

@saper please feel free to wok on this. I'm happy to work on this as well if you don't have the time

[2016-01-08 01:55] saper commented on #77
Thanks! I am interested in uploading some very large files at some point later, so I'd love to have a possibility to stream them onto `ia upload` (from stdin for example), so seek will not be available. Started reading this code to get some idea how to fix it, but not sure I understand everything, for example I don't know how `Content-MD5` header changes things and what responses are to be expecte

[2016-01-11 19:46] jjjake commented on #77
@saper The `Content-MD5` header should be set to the md5 checksum of the file being uploaded (if provided). Once all of the data has been handed off to archive.org, archive.org will calculate an md5 checkusm of the data and check to see if it matches the checkusm in the `Content-MD5` header. If it does, archive.org returns a 200 and your item gets created. If they do not match, a 400 status is ret

[2016-01-11 19:47] jjjake opened #118 "download leaves empty directories if no matching files are found to download"
Download should clean up empty item directories if no files are downloaded.

[2016-01-11 19:48] jjjake opened #119 "Complete/update Python documenation"
Complete Python docs: http://internetarchive.readthedocs.org/en/latest/

[2016-02-02 20:22] #103 closed

[2016-02-02 20:24] jjjake commented on #103
http://internetarchive.readthedocs.org/en/latest/cli.html#modifying-metadata-in-bulk
http://internetarchive.readthedocs.org/en/latest/cli.html#bulk-uploading

[2016-02-12 17:30] anastasia opened #124 "'ArchiveSession' object missing method 'get_item'"
[code]

I'm getting this error:
[code]
Wondering if the docs are out of date?
http://internetarchive.readthedocs.org/en/latest/internetarchive.html#internetarchive.ArchiveSession

I'm using internetarchive==0.9.8

[2016-02-12 19:26] jjjake commented on #124
The docs are for v1.0.0.dev12 (master branch on github). For v0.9.8, what you're trying to do would translate to:

[code]

In v1.0.0 you would do:

[code]

Or if you don't need the session object, simply:

[code]

[2016-02-12 19:26] #124 closed

[2016-02-13 20:11] anastasia commented on #124
Oops, thanks!

[2016-02-14 13:02] GNUtoo opened #125 "The help is confusing"
The help states:
[code]

So if I interpret it correctly, to upload a file I should do something like that:
```ia upload <identifier> <file>  [--metadata=<key:value>...]```
Expended that gives:
[code]
However once I run this command, when I check on archive.org, I've got only one field with the content of what is between the single quotes.

On IRC, I was pointed to the fact that I should instead us

[2016-02-16 21:59] jjjake opened #126 "Add support for Windows."

[2016-02-16 22:27] jjjake commented on #125
@GNUtoo: What is the difference between the ellipses being enclosed in the brackets and outside the brackets? It looks like docopt supports either, but they both do the same thing (in docopt).

http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html may be helpful... I'm unable to make complete sense of it myself, but it sounds like your assumption is correct? i.e. `utility_name [-

[2016-02-18 19:08] jakeschievink opened #127 "Ia search always returns every file regardless of page and row param"
I run

   ` ia search --parameters="page:1;rows:20" "dogs"`

and the params do nothing to effect the extremely long output

this

  ` ia search --parameters="page:1;rows:20" "dogs" --num-found`

returns

 ` 10221`

[2016-02-18 19:10] jakeschievink commented on #127
In addition, if I use the version downloaded from pip it returns

` ia search --parameters="page:1;rows:20" "dogs"
Traceback (most recent call last):
  File "/usr/local/bin/ia", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/site-packages/internetarchive/iacli/ia.py", line 99, in main
    ia_module.main(argv)
  File "/usr/local/lib/python2.7/site-packages/internetarchiv

[2016-02-18 22:05] jjjake commented on #127
Hi @jakeschievink, the first bug was addressed in https://github.com/jjjake/internetarchive/commit/5777d504e0cb51bd0bcc457e8fbc80f04c14bf07, and parsing of `--parameters` values was made more flexible in https://github.com/jjjake/internetarchive/commit/b69720b7a67bcda8748891f6545d68c89ba6d8f0.

I'm guessing you're on v0.9.8 if you installed via pip. I'm waiting for a new feature to our search API,

[2016-02-18 22:05] #127 closed

[2016-02-29 04:05] ethus3h opened #128 "Clarify documentation of a couple things"
In `ia upload --help`, it says:

[code]

It appears in the code at https://github.com/jjjake/internetarchive/blob/e3c9540942768f6f78eaedbb28e0dce2359128ee/internetarchive/session.py#L115 that the following would be more helpful:
[code]

In `ia help`, it says:

[code]

The correct format is `ia <command> --help`. The documentation and the application behavior should match.

Thanks! :)

[2016-02-29 19:56] jjjake commented on #128
I think the documentation is more clear and accurate as it is because it specifies exactly which error `--retries=<i>` will retry on.

Both `ia <command> --help` and `ia help <command>` are valid in the latest version of the code.

Thanks for your input @ethus3h, I appreciate it.

[2016-02-29 19:56] #128 closed

[2016-02-29 22:04] jjjake commented on #118
I'm not sure where exactly this was fixed, but empty item dirs are no longer created if no matching files are found to download.

[2016-02-29 22:04] #118 closed

[2016-03-01 00:26] ethus3h commented on #128
Hello again! Ah, I must be running an old version, good to know, thanks!
I thought --retries retried on other errors than 503, though?

[2016-03-01 00:27] ethus3h commented on #128
Also, thanks for the awesome app!

[2016-03-01 00:29] ethus3h commented on #128
(Also, anyway it might be nice to fix the typo at https://github.com/jjjake/internetarchive/blob/c13d99367698a54018613cc56e2ab90d52696455/internetarchive/cli/ia_upload.py#L26 ("retruns" for "returns")).

[2016-03-01 20:14] jjjake commented on #128
@ethus3h See here: https://github.com/jjjake/internetarchive/blob/master/internetarchive/item.py#L551

As of right now, requests to S3 only retry on 503s. It might make more sense to retry on other status codes as well, I'll think about this.

Most other types of requests (to the Metadata API, /download/, etc.) use the `urllib3.Retry` class: https://github.com/jjjake/internetarchive/blob/c13d99367

[2016-03-01 20:51] ethus3h commented on #128
Aah, I see. I get a *lot* of 500s, which seem to be temporary, so I set the --retries parameter in my script thinking that would fix the issue. I guess I won't see the effect I was hoping for :P

(My incorrect assumption, based on searching for "retries" in the code, had been that this https://github.com/jjjake/internetarchive/blob/c13d99367698a54018613cc56e2ab90d52696455/internetarchive/session.p

[2016-03-01 21:17] brandongalbraith commented on #128
Don't forget exponential backoff for requests to S3! http://docs.aws.amazon.com/general/latest/gr/api-retries.html

[2016-03-01 21:49] jjjake commented on #88
v1.0.0 is now available on pypi, as a binary for the CLI (https://archive.org/download/ia-pex/ia-1.0.0-py2.py3-none-any.pex), and as a tagged Github release (https://github.com/jjjake/internetarchive/releases/tag/v1.0.0).

[2016-03-01 21:49] #88 closed

[2016-03-03 17:50] stephenrparsons opened #129 "MemoryError on spreadsheet upload"
When uploading 31 files from a .csv, of at most 32K each (and mostly .jpgs), after 28 of them I always get:

[code]

I am perplexed by this as each file is quite small and there are not so many of them.

Python 2.7.6, internetarchive 1.0.0, Ubuntu 14.04 (64-bit)

[2016-03-03 20:14] jjjake commented on #129
@stephenrparsons can you send me a copy of your spreadsheet (jake at archive.org)?

[2016-03-03 20:59] stephenrparsons commented on #129
I believe I sent to you, let me know if you need anything else.

On Thu, Mar 3, 2016, 3:14 PM jjjake <notifications@github.com> wrote:

[2016-03-03 21:43] jjjake commented on #129
I got it, thanks @stephenrparsons. I'll follow up here once I am able to take a closer look.

Thanks for reporting the issue! : )

[2016-03-03 22:10] #129 closed

[2016-03-03 23:17] jjjake commented on #129
Alright @stephenrparsons, this issue should now be resolved. I had a few hiccups before resolving this, but as of https://github.com/jjjake/internetarchive/commit/eca4d0fd1c0e6b069029107d0b1420a38169c4e1 everything should be working correctly.

As a side note, `internetarchvie.cli.ia_upload` should be refactored. It's unnecessarily complicated as is.

[2016-03-04 00:21] ethus3h opened #130 "Metadata seems to be broken after updating"
Hi, I just updated from version 0.8.something to 1.0.0, and now commands generated by

[code]
give an error:

[code]

I think the commands are correctly written? Thanks :)

[2016-03-04 02:52] stephenrparsons commented on #129
Fixed for me - thanks so much, Jake!

[2016-03-04 08:08] ethus3h commented on #130
The problem does not occur with ia 0.9.8 installed via pip.

[2016-03-04 22:27] jjjake commented on #130
Thanks again for reporting @ethus3h.

I just fixed this in https://github.com/jjjake/internetarchive/commit/1d43dc088695af9486c5d8a11066ed1a7fd02026. The fix is available in v1.0.1, which I just shipped.

This was caused by changes in b69720b7a67bcda8748891f6545d68c89ba6d8f0.

Please let me know if you run into any issues.

[2016-03-04 22:27] #130 closed

[2016-03-04 22:28] jjjake commented on #129
Awesome, great to hear!

FYI, v1.0.1 is now on pypi as well.

[2016-03-04 23:12] jjjake commented on #109
This should no longer be an issue after switch from the advanced search API to the scrape API.

[2016-03-04 23:12] #109 closed

[2016-03-04 23:13] #125 closed

[2016-03-04 23:51] ethus3h commented on #130
Oh, awesome, thanks! :) I'll let you know if there are problems :)

[2016-03-05 00:03] ethus3h commented on #130
Does it require a different syntax now? I'm still getting the error `--metadata must be formatted as --metadata="key:value"`....

[2016-03-05 00:11] ethus3h commented on #130
I changed it to not use the semicolon-delimited syntax, but I'm still getting the error using this format:

[code]

[2016-03-07 21:14] jjjake commented on #57
@ivan This should now be fixed in https://github.com/jjjake/internetarchive/commit/6c9f77cb9b57296bc88278b5716c7a3bc32c3b43.

[2016-03-07 21:14] #57 closed

[2016-03-07 23:00] kamal94 opened #132 "Search functionality broken. Documentation example no longer works."
After 56c8e14, the search.Search(query) method does not work. I suppose this is due to the addition of the session parameter. I am unsure how to use the search.Search method anymore, and perhaps the documentation for that file should be updated.

The suggested following usage no longer works:

[code]

[2016-03-08 00:11] jjjake commented on #132
Thanks for reporting the issue, @kamal94.

I've updated the docstring in https://github.com/jjjake/internetarchive/commit/48f9ee0572140fe8aefdc403ef0ae3e04c24e172.

However, I would recommend using the API:

[code]

[2016-03-08 00:11] #132 closed

[2016-03-08 00:13] kamal94 commented on #132
Thank you! Yes I checked the documentation after I got the error but wasn't sure which implementation I should be following. Will take your advice on that one. Thank you for the quick handling!

[2016-03-11 03:04] ethus3h commented on #130
FWIW, it's working fine now after removing the .s from my identifier and updating to 1.0.2. :) Thanks!

[2016-03-13 16:44] dkl3 opened #133 "Not Reuploading Duplicate Items"
Hi, how exactly do I not reupload duplicate items from a directory if it's already on the Internet Archive? The reason I ask of is because what if, for instance, I want to upload new files to a collection, say an update of a YouTube channel?

If I learned what to do, this would save me time and not overload the server (giving me 503 errors).

It would mean a lot if I knew what to do.

[2016-03-14 19:52] jjjake commented on #133
Hi @dkl3,

You'll want to use the checksum option. When the checksum option is turned on, an md5 checksum is generated of your local file and nothing is uploaded if a file with the same checksum already exists in the given item. Do note that this will not work if the item has pending tasks. This behavior is to avoid race conditions (i.e. if a file with a matching checksum existed in the item, but

[2016-03-14 19:52] #133 closed

[2016-03-19 00:54] arogl commented on #126
I have made 2 changes to session.py at lines 18 & 106:

18 -- Add

import platform

106 change
         uname = os.uname()
to
         uname = platform.uname()

Everything seems to be working.

Do you want a pull request for this?

[2016-03-21 16:59] jjjake commented on #126
Yes, that would be great @arogl. Thanks for taking the time to look into this, I appreciate it!

[2016-03-22 18:47] jjjake commented on #126
Fixed here: https://github.com/jjjake/internetarchive/commit/e8af7790a2ca8dd07bcc98d11db46e0b9a8272d6

[2016-03-22 18:47] #126 closed

[2016-04-02 03:35] kamal94 opened #136 "Timeout on downloading a search result"
I have a relatively large dataset to download (mainly of IDs). The query is "'سكر'".
When I try either
[code]
or
``` ia search "'سكر'" -i > t3.txt ```
I get the following timeout error:

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/requests/packages/urllib3/connectionpool.py", line 376, in _make_request
    httplib_respons

[2016-04-04 21:24] jjjake commented on #136
So it looks like that query is taking longer than 12 seconds unfortunately (and that is the timeout I have set in the client). I will look into resolving this by increasing the default timeout and providing an option for changing the timeout, or working with the developers in charge of search here at the Archive to see why this query is taking so long to run.

In the meantime, setting the size par

[2016-04-06 05:28] dkl3 opened #137 "Problem Deleting All Files in an Item"
Hi, when I try to delete every file in an item, I get this error: http://pastebin.com/mGMfYkYN

Can somebody please help me out here?

[2016-04-06 14:15] willf commented on #136
jjake, I _think_ this is due to the increased cost of UTF-8 encoding/decoding. I suggest that you either increase the timeout or decrease the size when the number of bytes of the string doesn't equal the number of codepoints. I am seeing simple searches (like `سكر`) take about 12 seconds when other simple searches (like our favorite `nasa`) take 4 seconds. You could also, of course, decrease the s

[2016-04-06 21:09] #137 closed

[2016-04-06 21:10] jjjake commented on #137
Thanks for reporting @dkl3. I fixed this in 4f26ca1, it will be available in v1.0.3.

[2016-04-07 18:16] jimbonator opened #138 "QuickStart lists ~/.config as location of ia config file"
Docs say:

`Config saved to: /home/user/.config/ia.ini`

But this happened (under virtualenv, `pip install internetarchive`):

`Config saved to: /home/jnelson/.ia`

[2016-04-11 18:21] jjjake opened #139 "Investigate getting mtime from server rather than files.xml in download."
There are cases where files.xml does not have the mtime available (usually when a task has redrowed, and the files.xml did not update). I'm considering getting the mtime from the server via a HEAD request, but there are some considerations to keep in mind:
- This isn't very common (I think), and it only is an issue when the item itself is "broken".
- The mtime from the server is slightly different

[2016-04-11 18:31] bfalling commented on #139
One other consideration is that using file mtime eliminates a hidden dependency, especially since I think most people think of "download" functionality as pulling files straight down from a source, without manipulating them or modifying them in any way, let alone modifying them based on some other file somewhere.

[2016-04-11 18:46] samuel-archive commented on #139
i believe the http last-modified header should be a reliable time to use

[2016-04-11 23:48] kamal94 commented on #136
Thank you @jjjake, ```params=dict(size=1000)``` fixed the timeout. Like @willf said, the delay is most probably due to the increased cost of Arabic text processing.

[2016-04-12 00:08] kamal94 opened #140 "Search sorts functionality by downloads/views flipped?"
This is something that has a 50% chance of being me understanding ia sorting incorrectly, but if I'm correct then there might be an opposite order to sorting returned by the internet archive python search utility.

When I implement
[code]

I get the abridged ID lists:

CSPAN2_20160316_000200_Hearing_on_Flint_Michigan_Water_Contamination
CSPAN2_20160316_061300_Hearing_on_Flint_Michigan_Water_Contam

[2016-04-12 03:49] kamal94 commented on #140
It turns out that even after i set sorts to 'asc', it gives me the same output. Perhaps I am not putting it in the correct format?

[2016-04-12 17:55] willf commented on #140
Try: `for r in ia.search_items('"michigan water"', params=dict(size=1000), sorts=['downloads desc']):`

[2016-04-12 17:56] willf commented on #140
Notice that it is a `list` of `string` where each string is `field asc|desc`

[2016-04-12 18:08] kamal94 commented on #140
Yes that worked! Thank you. Perhaps specify that it needs to be a list of strings in the documentation? I assumed it was a dictionary because #136 passed a dictionary to params. Though now that I look at [search.py](https://github.com/jjjake/internetarchive/blob/master/internetarchive/search.py) I can see that it is checked against a list type.

[2016-04-19 14:33] uoslibraries opened #141 "local variable 'insecure' referenced before assignment"
Hi,
line 347 of session.py can raise an UnboundLocalError: local variable 'insecure' referenced before assignment

This is because the variable "w" on line 340 can evaluate to True but not contain a match in the "insecure_warnings" list. The "insecure" variable never gets the value True but also never gets the value False since it's in an if...else.

A solution might be to set "insecure" to False

[2016-04-27 18:47] #141 closed

[2016-04-27 18:47] jjjake commented on #141
Thanks for reporting Matt, this should be fixed now.

[2016-04-27 18:56] #138 closed

[2016-05-02 18:54] davidferguson opened #142 "texts mediatype missing from docs"
I have noticed that in the metadata docs found https://internetarchive.readthedocs.io/en/latest/metadata.html#mediatype the type "texts" is missing.

[2016-05-04 17:44] brandongalbraith opened #143 "Support Archiving Live URL"
@jjjake

Would you be up for merging a PR that supported performing an archive request for `<url>` via GET `https://web.archive.org/save/<url>`? Idea obtained via https://news.ycombinator.com/item?id=11626044

If so, I'll provide a PR!

[2016-05-04 19:03] kamal94 opened #144 "Parameters and Sorts are not accepted together in search term"
[code]

It seems that sorts and params can't be used together.

[2016-05-04 23:09] jjjake commented on #144
Thanks again for the report @kamal94, always appreciated.

What version are you using? I'm unable to replicate this issue with your code above using v1.0.2 (the most current released version) or using the current master branch on github. All three of those searches finish within a couple of seconds for me (I'm currently on a very slow network as well).

Perhaps it was a transient issue? Please let

[2016-05-04 23:43] kamal94 commented on #144
Thank you @jjjake !

It seems to work just fine now. Not sure why it didn't work before.

[2016-05-04 23:43] #144 closed

[2016-05-08 01:07] wumpus commented on #143
I actually gave incomplete instructions, it would need to loop over the urls in the returned html page and call /save/ on them, too... so it's a bit more work, still not too bad. I'll see if I can get a yea or nay from the Wayback director...

[2016-05-08 01:08] brandongalbraith commented on #143
@wumpus Much obliged! If not, no worries, I have an ArchiveBot instance I can use for long term cold storage until a future TBD date (for Wayback ingestion).

[2016-05-16 17:47] wumpus commented on #143
I had a chat with Mark Graham (the manager of All Things Wayback), and he thinks it's a great idea to add to this tool, but not yet. (Kind of like St. Augustine!)

We're very comfortable with ArchiveTeam/ArchiveBot, you can ingest WARCs through their usual process early and often!

[2016-05-16 17:49] brandongalbraith commented on #143
Awesome! I appreciate the consideration!

[2016-05-16 21:28] jjjake commented on #143
Thanks a lot for suggesting the idea @brandongalbraith, I appreciate it. I'll ping you when we do decide to move forward with this.

Thanks for following up as well @wumpus.

[2016-05-17 19:00] wumpus opened #146 "Make OCR queue count visible?"
When uploading stuff that needs OCR, sometimes we get backlogged and wish that clients would rate-limit. Last time this came up, hank suggested fetching this:

https://catalogd.archive.org/report/ocr.php?ocr_count=1

and stopping uploading if the count was > 400. Perhaps we could make this visible via ia? We'd want to normalize it by dividing by 400, so that we could update 400 to a different numb

[2016-05-21 00:35] #140 closed

[2016-05-21 00:38] kamal94 opened #147 "Error while searching for anything"
```ia search "nasa" -n```

produces
```error: Expecting value: line 1 column 1 (char 0)```

This happens for whatever search I attempt.

Also in python:

[code]

[2016-05-22 23:31] ewenmcneill opened #148 "upload --spreadsheet defaults collection to non-test_collection"
It appears that if you do `ia upload --spreadsheet=foo.csv` and your spreadsheet doesn't specify a `collection` column, then `ia` will (a) continue with the upload, (b) pick an arbitrary collection and (c) that arbitrary collection is _not_ `test_collection`.  Which means that there's a non-trivial risk of uploading a mass of things to a non-test collection, realising too late that they're in the

[2016-05-23 16:57] jjjake commented on #147
Thanks for the report @kamal94. We pushed a change over the weekend that broke the underlying API. This should now be fixed.

Please reopen this issue if you are still experiencing issues. Thanks!

[2016-05-23 16:57] #147 closed

[2016-05-23 17:06] jjjake commented on #148
Good point @ewen-naos-nz, 'preciate raising the issue. Thank you.

I think I prefer refusing the upload if a collection isn't specified. I don't like the idea of defaulting to `test_collection`, as it might no be clear that the users uploads will be removed after ~30 days if they're not paying attention.

Perhaps `mediatype` should be required as well. Right now it defaults to `data`, which is pro

[2016-05-23 17:10] wumpus commented on #148
Postel's Law is dead :-) seriously, I'm all for making collection and mediatype be intentional decisions by the uploader. The error messages need to point users at the docs.

[2016-05-24 21:09] ewen-naos-nz commented on #148
I think it'd be reasonable to require `mediatype` to be explicitly specified too, at least in "spreadsheet" mode, as it's another metadata item which cannot be changed later.  (My first test upload didn't have mediatype, and ended up being "data" -- fortunately that one went into `test_collection`; the "missing collection" problem came about when I wrote a tool to generate the spreadsheet from a d

[2016-05-24 21:46] jjjake commented on #148
I agree with everything in your last comment @ewen-naos-nz.

I'm leaning towards requiring the user provide mediatype and collection at time of item creation, pointing to thorough documentation and suggestions in the error message. I think this should be required at the Python API level (i.e. not just `ia upload --spreadsheet...`).

I don't think this is, too, big of a burden for the user, and thi

[2016-05-25 04:34] ewen-naos-nz commented on #148
FWIW, I've figured out why they ended up in the `opensource` collection: [according to the documentation it is the default collection](https://internetarchive.readthedocs.io/en/latest/metadata.html#collection).  So nothing to do with the subject tags.

It *may* make sense to continue that default for one-off uploads (although personally I'd lean towards "explicit is better than implicit" for thing

[2016-05-25 19:44] jjjake commented on #148
I'm with you @ewen-naos-nz (leaning towards "explicit is better than implicit, but it could be a bit annoying for one-off uploads).

What about requiring a collection, unless a default collection is specified in the config file?

[2016-05-25 21:22] ewen-naos-nz commented on #148
Requiring a collection to be specified directly, unless one is specified in the config file seems fine to me.  Actually specifying one in the config file seems like a sufficient explicit step to me.  (It's just "default defaults" which catch people out :-) )

FTR, having now asked for collections to be created to upload these bulk sets into, it turns out that the archive.org staff create them only

[2016-06-28 22:04] #142 closed

[2016-06-28 22:05] jjjake commented on #105
Fixed in 0a770606f63dd9c5a789c7d17b95833f1835fa1e.

[2016-06-28 22:05] #105 closed

[2016-06-28 22:06] #136 closed

[2016-06-30 19:15] jjjake commented on #119
This is an ongoing issue, and the meat of it is there.

[2016-06-30 19:15] #119 closed

[2016-07-12 05:18] vxbinaca opened #149 "Uploads (requests) timing out"
[code]

Could you possibly specify the default timeouts for uploading and triple it from, what I believe is the default 110 in requests?

Unless I'm mistaken in how I'm reading this. A script I maintain relies on your library and figured upping the threshold for timeouts would benefit others.

[2016-07-12 19:18] jjjake commented on #149
Thanks for reporting your issue @vxbinaca, I appreciate it.

Note that you can specify your own timeout via the `request_kwargs` parameter in upload:

[code]

So, I think this is a documentation issue -- do you agree? Does this solution work for you?

[2016-07-12 22:06] vxbinaca commented on #149
Tentatively closing this issue as adding ```request_kwargs=dict(timeout=300)``` to the script didn't break uploading, so I'm assuming it's been fixed.

Thanks. In case you're curious what we're using internetarchive for it's [this] (https://github.com/bibanon/tubeup).

[2016-07-12 22:06] #149 closed

[2016-07-12 22:27] jjjake commented on #149
@vxbinaca: That is very cool! Please let me know if you ever run into any other issues.

[2016-08-10 08:37] vxbinaca opened #151 "Bug: delete --all fails on 1.0.8"
```ia delete Snydsnap_Youtube_Archive --all```

[code]

[2016-08-11 19:17] saper commented on #151
Yes, this looks like a new check in 2.11.0

[2016-08-11 19:37] saper commented on #151
@vxbinaca can you see if #152 checks that one for you? (probably downgrading Python requests module would help, too).

[2016-08-11 21:22] vxbinaca commented on #151
What value do you want me to wrap in ```'```? The item name?

[2016-08-11 21:30] saper commented on #151
I don't understand... just apply [the change](https://github.com/jjjake/internetarchive/pull/152/files) to the archive or just replace your `file.py` with a [modified version](https://raw.githubusercontent.com/saper/internetarchive/3986637f7accd4e96a06e278276be17beae75e24/internetarchive/files.py).

[2016-08-14 05:56] vxbinaca commented on #151
I downgraded requests to 2.9.0 and it's still there, for reference, my installed requests when this problem was discovered was 2.10.0

[2016-08-14 05:57] vxbinaca commented on #151
Wait a second, I downgraded it in pip3 as well and now it works now, so yes this appears to be a fix. You can merge that PR.

[2016-08-14 10:08] vxbinaca opened #154 "Feature: Auth should use .netrc instead of a .cfg"
- There should be a module to handle this (there was with perl when I was using it to beef up a script I used for a while) that gives .netrc that can be pulled on install after the change is made.
- If no .netrc exists, create one and set perms to 600, insert auth.
- Don't use flags to do this, use the inbuilt prompts that don't leave traces in the bash history
- Might be an issue if someones usin

[2016-08-14 21:44] saper commented on #151
@vxbinaca did you try the newest requests version with my patch?

[2016-08-16 03:08] Hydriz opened #155 "Unable to initialize internetarchive.Item when only identifier is provided"
Since version 1.0.0, `internetarchive.Item` required not only the identifier, but a new mandatory parameter `archive_session`, which causes problems as the user does not have easy access to the ArchiveSession class (at least from what I can see in the docs).

Following the [example given in the docs](http://internetarchive.readthedocs.io/en/latest/internetarchive.html#internetarchive.Item), I get:

[2016-08-16 18:59] jjjake commented on #155
Thanks for the report @Hydriz!

As of 1.0.0, the `Item` object should generally not be used directly. `internetarchive.get_item()` should be used instead.

If you do use the `Item` object directly, you'll need to call `Item` with the following parameters:

[code]

I've updated the docstring to recommend using `get_item()`.

[2016-08-16 18:59] #155 closed

[2016-08-17 16:40] #151 closed

[2016-08-19 18:27] NewberryDIS opened #156 "Updating metadata in bulk"
I am trying to add a metadata field to 78 items that are already on the internet archive using ia metadata --spreadsheet=metadata.csv
It uploaded about half before giving this error:

Traceback (most recent call last):
  File "c:\python27\lib\runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "c:\python27\lib\runpy.py", line 72, in _run_code
    exec code i

[2016-08-19 18:36] NewberryDIS commented on #156
Well the issue seems to be with just one item, when I removed it the rest loaded fine. Not sure what was wrong with it but this is soved.

[2016-08-19 18:36] #156 closed

[2016-08-19 21:25] jjjake commented on #156
@NewberryDIS can you provide me with the spreadsheet, or just the row that this happened with? My email is on my profile.

Thanks for reporting!

[2016-09-07 23:47] Asparagirl opened #157 "How to specify a license when uploading items through a CSV?"
When using ia to upload a lot of files (and their associated metadata) to the Internet Archive through a CSV, what are all the potentially-acceptable values we should be using for the field "licenseurl"?

For example, setting this field to the exact text "Public Domain Mark 1.0" (without the quotation marks) does not work.  While those words will display on the uploaded item, they do not hyperlink

[2016-09-13 20:15] jjjake commented on #157
@Asparagirl You should use the URL to the license rather than the name of the license:

[code]

I've marked this as a bug, as this should be documented in the documentation.

Thanks for opening the issue @Asparagirl!

[2016-09-14 00:54] Asparagirl commented on #157
Happy to complain!...er, I mean, happy to help!  :-)

[2016-10-06 14:06] reuben opened #158 "Searches fail with ValueError: Invalid user or user secret."
It seems like all operations, even read-only ones, fail if you don't run `ia configure`. I'm not sure if it's the tool or the documentation that is wrong…

    $ python3
    Python 3.5.2 (default, Jul 28 2016, 21:28:00)
    [GCC 4.2.1 Compatible Apple LLVM 7.3.0 (clang-703.0.31)] on darwin
    Type "help", "copyright", "credits" or "license" for more information.

    ...     print(result)
    ...

[2016-10-06 14:40] saper commented on #158
Yes, you need `ia configure` to be run before you can start using `ia`.

[2016-10-06 15:13] hargup opened #159 "Parallel upload through command line"
Hello, I've download all the laws of Indian states from http://www.lawsofindia.org/ and then I'm uploading them to archieve.org, using the [command line tool](https://internetarchive.readthedocs.io/en/latest/cli.html). There are some five thousand files, I was wondering if there is an option to parallelize the upload process?

[2016-10-06 15:34] reuben commented on #158
Ah, damn, somehow I missed the mention of "searching" in the list of operations that require authentication in https://internetarchive.readthedocs.io/en/latest/api.html

[2016-10-06 15:34] #158 closed

[2016-10-06 17:51] jjjake commented on #159
Hi @hargup,

Are you familiar with the GNU `parallel` command-line tool?: https://www.gnu.org/software/parallel

This is what I usually use to parallelize uploads (as well as for other `ia` functions).

One thing to note with uploads, regardless of how you decide to submit concurrent uploads, is that it does not really pay to upload to a single item concurrently. It is recommended to upload to dif

[2016-10-06 17:52] jjjake commented on #158
Thanks @saper. : )

@reuben: Sorry if that error wasn't the most helpful. Please let me know if you have any feedback on improving it!

[2016-10-06 17:54] reuben commented on #158
The problem was just me assuming that search operations wouldn't need authentication and then reading the docs too quickly, the error is okay IMO. Thanks for the help!

[2016-10-29 18:52] hargup commented on #159
Thank you that helped. It would be very convenient to have a command line flag to `ia upload --spreadsheet=metadata.csv` to do the parallelization.

[2016-10-29 18:59] hargup opened #160 "ia upload not working behind http proxy"
I'm encountering the following error while using command line tool of internetarchive behind the http proxy of my university.

[code]

[2016-11-15 18:48] jjjake opened #163 "Item.upload_file() uses full filepath for remote filenames on Windows"
As reported here: https://archive.org/post/1065489/problem-with-file-link-local-path-is-being-used-in-archiveorg-link-causing-problems

This can probably be fixed here: https://github.com/jjjake/internetarchive/blob/master/internetarchive/item.py#L528

[2016-11-15 19:07] jjjake commented on #163
It looks like @brycedrennan has addressed this in https://github.com/jjjake/internetarchive/pull/162

I'll close this issue once that PR is merged.

[2016-11-18 19:33] jjjake commented on #84
I believe https://github.com/jjjake/internetarchive/pull/162 should address this issue. @tungol please comment if you continue to have issues in versions > 1.1.0.dev1.

[2016-11-18 19:33] #84 closed

[2016-11-18 19:34] jjjake commented on #115
I believe https://github.com/jjjake/internetarchive/pull/162 should address this issue. @jleclanche please comment if you continue to experience this issue in version > 1.1.0.dev1.

[2016-11-18 19:34] #115 closed

[2016-11-18 19:34] #139 closed

[2016-11-19 00:00] jjjake opened #164 "Add ability to check for updates from the command-line."
Add the ability to check for updates in `ia`.

[2016-11-22 00:27] ekansa opened #166 "change / update item collection"
Hi

I'm hitting a brick wall trying to specify that my item belongs to "opensource_media". Here's the item:
https://archive.org/details/opencontext-97-burmese-001-a-03

Relevant bits of Python are:

[code]

But I always get a 400 error response. What am I doing wrong? I can edit other metadata and upload files just fine, but changing collections seems not to work. If I can't change the collection

[2016-11-22 18:07] ekansa commented on #166
Hi. I talked to someone else at the Internet Archive, so it seems I can't change the collection for an item. So how do I (using Python) specify that an item I create belongs to the 'opensource_media' collection?

THANKS!
-Eric

[2016-11-22 18:41] jjjake commented on #166
@ekansa You will simply need to specify the collection at time of item creation (i.e. during upload of the first file):

Does that make sense? Please let me know if you run into any issues.

[2016-11-22 18:41] #166 closed

[2016-11-22 19:20] ekansa commented on #166
Thanks! Makes sense and it works. I'm uploading images to the opensource_media now!
-Eric

[2016-11-25 15:08] vext01 opened #167 "`tasks` broken?"
Hi,

I've configured internetarchive (I am able to start uploads), but `tasks` does not seem to work:

[code]

This is OpenBSD-current with Python-2.7.12.

[2016-11-25 15:12] vext01 opened #168 "Upload succeeds from the CLI, but can't find where the files went."
I'm trying to upload to an existing identifier. I think I should be able to do it like this:
[code]

Looks good. But when I go the the internet archive website, the files are nowhere to be seen. Am I missing something?

Is this tool only suitable for making new identifiers perhaps?

[2016-11-25 15:30] vext01 commented on #168
Maybe I need to wait?:

[code]

https://archive.org/help/abouts3.txt

[2016-11-25 16:45] annelhote opened #169 "Identifiers creation rules"
Are there really no official restrictions or rules about the identifiers ?
http://internetarchive.readthedocs.io/en/latest/metadata.html#archive-org-identifiers

When trying to create an item with identifier "aa", an error 400 is returned by the API but I can't find any "aa" item on archive.org :
https://archive.org/details/aa

Thanks

[2016-11-26 17:49] saper commented on #160
How is your proxy configured? Environment variables? Which ones? Do you need to use proxy authentication?

[2016-11-26 19:02] hargup commented on #160
The proxy is configured through environment variables and doesn't need authentication.

[2016-11-27 18:12] waynedpj commented on #167
ahoy,

  seeing the same issue with a new install of v1.1.0 on Gentoo x86-64 GNU+Linux:

[code]

but `ia configure` has been run successfully and other commands are working fine.

thanks, very handy utility.

[2016-11-27 20:19] saper commented on #167
It seems to me that this is a server side issue.

https://archive.org/details/MarianRejewskiGenialnyKryptolog?output=json&json=2 seems to provide valid json, but

https://archive.org/history/MarianRejewskiGenialnyKryptolog?output=json&json=2

does not (it produces the same HTML without CGI parameters)

Similar with https://archive.org/catalog.php?json=2&output=json&callback=foo which seems to retu

[2016-12-01 18:40] jjjake commented on #169
@annelhote it really depends on what API or interface you're using to upload to.

This library uses the Internet Archive S3-like API which requires that identifiers be between 3 and 100 characters.

I would recommend sticking to the suggestion of keeping archive.org identifiers between 5 and 80 characters.

I think the documentation could be updated to be more clear, but you shouldn't run into any

[2016-12-01 18:40] #169 closed

[2016-12-01 18:45] jjjake commented on #168
I see that the file is now available here:

https://archive.org/download/softdev_warmup_experiment_artefacts/v0.7/octane/linux3_e3_1240/octane_spidermonkey_results_0_7_linux3_e3_1240.json.bz2.asc

I'm not sure what happened, because the file should have been located at https://archive.org/download/softdev_warmup_experiment_artefacts/octane_spidermonkey_results_0_7_linux3_e3_1240.json.bz2.asc based

[2016-12-01 18:45] #168 closed

[2016-12-01 19:05] jjjake commented on #167
Getting the archive.org catalog to return JSON is a bit quirky.

Can you all confirm that this wasn't a transient error? I'm unable to reproduce this at the moment, but I have seen this error before and it was transient for me.

To get the catalog to return JSON, three params are required: `json=2`, `output=json`, and `callback=<foo>`.

@saper is https://archive.org/catalog.php?json=2&output=json&

[2016-12-01 19:35] waynedpj commented on #167
@jjjake just tried it again and same error, whether i put in an identifier or not.  thanks for looking into this.

[2016-12-01 20:19] saper commented on #167
I can confirm this is well:

both

https://archive.org/history/MarianRejewskiGenialnyKryptolog?output=json&json=2&callback=x

and

https://archive.org/catalog.php?json=2&output=json&callback=foo

seem to return text/html for me now

[2016-12-02 09:56] vext01 commented on #168
It just took a *very* long time to appear (about a day). I moved the file
once it had appeared. Thanks

On 1 December 2016 at 18:46, jjjake <notifications@github.com> wrote:

--
Best Regards
Edd Barrett

http://www.theunixzoo.co.uk

[2016-12-03 09:56] annelhote commented on #169
Thank you !

[2016-12-05 22:36] antonizoon opened #170 "Unhandled exception (occurs on 500 rate limit)"
Mysteriously, on internetarchive 1.10: sometimes and at random points we get an xml.parsers.expat.ExpatError, indicating that the parser was unable to process some kind of output it got back. Is there an unhandled non-XML error being spit out by the Internet Archive API or something?

(Update: it was actually an unhandled HTTP 500 error response, see comment below)

[code]

[2016-12-05 22:45] antonizoon commented on #170
Actually, looking deeper there is also an unhandled 500 requests error (`requests.exceptions.HTTPError: 500 Server Error: Internal Server Error`), which is not as obvious to a user. Maybe it's like a rate limit?

Generally the ia script handles this 500 error exception by stating that directly, but it wasn't caught in this case. For better debugging, maybe the exception should be caught and state

[2016-12-05 22:51] jjjake commented on #170
Thanks for the report @antonizoon.

Note that the IA-S3 status code for rate-limiting is 503, not 500. Also, `ia` and `internetarchive` only retry on 503 errors (i.e. not 500s).

We're still looking into the cause of this issue, but it is widespread and not limited to this library. Hopefully we can get it sorted shortly.

There is another issue here -- `ia` should fail with a more informative erro

[2016-12-05 22:51] #170 closed

[2016-12-05 22:59] jjjake opened #171 "Improve error message for IA-S3 500 error's"
Normally when IA-S3 fails, an XML formatted error message is returned in the response content. However, this is not the case for 500 errors (possibly others). Right now, `ia` simply fails with a xml.parsers.expat.ExpatError exception. This should be updated to be more clear about what's going on.

500 error's are usually either transient or require IA admin intervention to resolve. The error messa

[2016-12-05 23:05] antonizoon commented on #171
Awesome, thanks. This error is particularly a problem since it just crashes ia and overrides `--retries`, preventing me from telling it to try again.

[2016-12-06 19:34] jjjake opened #172 "Add support to ia for moving and copying files."
I've created a new branch: https://github.com/jjjake/internetarchive/tree/add-ia-cp-mv

This adds support for moving/renaming and copying files in archive.org items.

Please reply here if you have any input or feedback. The current implementation is experimental, please use at your own risk (i.e. backup any files you are copying/moving before testing).

It would be useful to have this change QA'd

[2016-12-10 23:13] ethus3h opened #173 "ia upload from stdin accepts data faster than it uploads"
Consider a script like the following:
[code]
The progress bar shown by `pv` will be wrong (it will indicate completion prematurely) when uploading using a slow Internet connection, because ia upload accepts the input from stdin faster than it uploads.

[2016-12-11 02:09] ethus3h commented on #173
It appears that this is because [it first writes the standard input to a file](https://github.com/jjjake/internetarchive/blob/master/internetarchive/cli/ia_upload.py#L195), thus entirely defeating the purpose of uploading via standard input…

[2016-12-31 20:28] edsu opened #174 "ConnectionError during download"
I'm seeing a ConnectionError when attempting to download with python v3.6.0 and requests v2.12.4:

[code]

It runs for a few items and then throws this:

[code]

I've used internetarchive in the past and it has worked flawlessly (thank you!), so maybe something is up on the server side?

[2017-01-03 18:49] jjjake commented on #174
This looks like an issue on the server side indeed. I am running your code above (on Python 3.6.0 & ia v1.1.0), and everything is looking good (I've downloaded about 150/928 files so far, including `2600magazine/2600_1-10_jp2.zip`). Can you retry and confirm whether the issue was transient or not for you?

Thanks for reporting the issue @edsu!

[2017-01-04 14:24] jeffgerhard opened #175 "'_io.BytesIO' object has no attribute 'name'"
Hi,

I'm getting errors trying to upload a binary file-like object. This was working before I updated internetarchive a few weeks ago. (Usage: I'm compiling binary MARC records in python to upload alongside of existing PDF files.)

It seems like [this update #162](https://github.com/jjjake/internetarchive/pull/162), when resolving this [filename issue #163](https://github.com/jjjake/internetarchiv

[2017-01-04 20:46] Asparagirl commented on #63
I just ran into this one too while trying to upload in bulk through a spreadsheet (via the ```ia upload --spreadsheet=uploading.csv``` method).

I know this issue is marked "won't fix", but could we maybe get a simpler-to-read error message in cases like this, just something like "It looks like you're trying to do a bulk upload with a spreadsheet, please make sure to convert your CSV file to ASCII

[2017-01-04 21:00] Asparagirl opened #176 "Broken pipe on upload"
I'm getting broken pipe errors on various items that I'm trying to upload (all through the bulk upload via CSV method).  I have the latest version of the ia command line tool.  I'm on a Mac running Sierra 10.12.2, if that helps.

[code]

Note that it's dropping out at around 42/389, sometimes 40/389.  The total file size is about 407 MB.

I saw there was a closed issue similar to this one from a w

[2017-01-05 19:50] jjjake commented on #175
Thanks for reporting this issue @jeffgerhard!

This could be addressed by not requiring a file-like object to have a name attribute if a key is specified. Then you could do something like:

```>>> item.upload({'my_filename.txt': file_like_object})```

In the meantime, I think you should be able to do something like the following to get around this issue:

[code]

[2017-01-05 20:40] jeffgerhard commented on #175
Hi Jake, that totally makes sense, I should have thought of that. The ideal scenario you mentioned first (basically as described in readthedocs) is what I was already doing before the name attr became required.

Thanks!

[2017-01-05 21:14] jjjake commented on #176
Thanks for the report @Asparagirl. #63 is unrelated, but I have been getting more and more reports about connection issues. Usually issues like this are transient, but that does not seem to be the case here?

I'll update you here once I find more out.

[2017-01-05 21:38] Asparagirl commented on #176
#80 is the closed issue I saw that seemed to be related -- especially how it always happens a few MB into the upload, but not immediately.

(The non-ASCII-formatted CSV thing in #63 is unrelated, but it bugs me.  :-) )

Thanks!

[2017-01-06 00:49] jjjake commented on #175
Alright, I think https://github.com/jjjake/internetarchive/commit/d98925b6861c821de24ae506c000c1c903d5e242 should fix this. I haven't published a new version yet, but if you're able to install the github master branch this should now be fixed there.

This will be in version 1.2.0. I have a few other features I'm working on that I'd like to complete before I release this version.

Thanks again @jef

[2017-01-06 00:49] #175 closed

[2017-01-06 21:10] saper commented on #63
@Asparagirl did you use utf-8 in the description and other metadata or the file name?

[2017-01-06 21:13] saper opened #177 "Trouble uploading utf-8 metadata with Python 2"
I was putting Russian UTF-8 characters into my metadata.csv file for upload and it failed during the load of the .csv file. I don't have the actual exception at hand, but the following snippet fixed that for me:

https://github.com/jjjake/internetarchive/compare/master...saper:utf8mod?expand=1

[code]

[2017-01-06 21:26] Asparagirl commented on #63
The weird thing is that I _wasn't_ using any unicode or accented characters in my spreadsheet, as far as I know.  I did have some HTML in my description column, but it was all just plain English and some basic HTML code.

I first saved the spreadsheet as a CSV with normal formatting, which in NeoOffice means UTF-8, and that was throwing the errors.  Saving the spreadsheet as a Western/ASCII-format

[2017-01-06 21:53] jjjake commented on #177
I'm going to close this and reopen #63. I'll follow up there shortly. Thanks again for reporting the issue and proposing a fix @saper!

[2017-01-06 21:53] #177 closed

[2017-01-06 21:59] jjjake commented on #63
@Asparagirl @saper `internetarchive` has full support for uploading utf-8 files and adding utf-8 metadata values as far as I can tell. I'm not an expert in this area, so I would love to be corrected if I'm misunderstanding anything here.

I just created the following items with `ia upload --spreadsheet metadata.csv`:

https://archive.org/details/jj-test-item-2017-01-06-3
https://archive.org/detail

[2017-01-07 18:20] Asparagirl commented on #63
Hello again,

I uploaded my original .ODS spreadsheet and the two versions of the exported .CSV's (one UTF-8 and one ASCII) to Dropbox, so feel free to grab them and look for yourself:

https://www.dropbox.com/sh/zm9801360niad00/AAAbWYforhGFKKQp_Knhy-Oza?dl=0

As you can see, ```ia upload``` chokes on the UTF-8 one.  It does parse and upload the ASCII one...well, until I get the "broken pipe" issu

[2017-01-07 18:24] Asparagirl commented on #157
This bug just became slightly more important, because the IA web interface's metadata editor screen no longer allows you to choose a public domain license for an item.  (The link to the Creative Commons web page currently linked by "dedicate to the public domain" is broken.)

[2017-01-09 12:04] nemobis opened #178 "Consistent OpenSSL.SSL.SysCallError: (32, 'EPIPE')"
I'm always getting this error, after some 300 MiB uploaded at about 110 Mbps:

[code]
I have requests 2.10.0-2, urllib3 1.15.1-2, ia 1.1.0 and
[code]

Upstream bug should be https://github.com/kennethreitz/requests/issues/2543 / https://github.com/shazow/urllib3/issues/367 , can some retry/resume be added?

I have no such issue with ias3upload...

[2017-01-09 18:10] jjjake commented on #63
@Asparagirl How does `ia upload` choke on the UTF-8 spreadsheet for you? I changed the collection and the identifier on the spreadsheet, and created a few ZIPs with the same filenames as you had on the spreadsheet. It uploaded without issue. What kind of errors are you seeing with the UTF-8 spreadsheet? Are you sure it's unicode related? The ASCII spreadsheet in your dropbox link is a 404 for me,

[2017-01-09 23:18] jjjake commented on #178
Thanks for the report and detailed info @nemobis.

I've been seeing reports of this issue from others as well (#176, #80).

It looks like you were eventually able to get it uploaded? I see this exists:

http://archive.org/download/wikimediacommons-2014-09-21/2014-09-21.zip

Did you do anything different to eventually get it uploaded, or did you just keep retrying?

[2017-01-10 08:27] nemobis commented on #178
I switched back to ias3upload.pl... This issue is currently my only blocker to completely supersede that little wonder of a script. :-)

[2017-01-27 18:35] davmo opened #179 "Using --spreadsheet=file.csv subject fields are not cleared per item"
I use `--spreadsheet` mode. My metadata files contain `subject[x]` fields populated from tags. The number of tags per item varies so some subject fields may be blank.

If an item with 8 tags is followed by one with 5, the second item is uploaded with the blanks filled in from the previous one.  Here's a representation of a subset of the data (it's really CSV):
[code]

If you look at https://archiv

[2017-02-02 04:39] matthazinski opened #180 "Format filter is ignored when downloading with --glob"
I have a bunch of items I'd like to download filtering by both extension and filename.  When I run "ia download" and specify both `--glob="*foo*"` and `--format='Flac'`, the format filter is ignored.

This seems to be the issue: https://github.com/jjjake/internetarchive/blob/master/internetarchive/item.py#L339

It's easy to work around this limitation because the filenames all end in ".flac", but

[2017-02-12 18:38] p8NG6L opened #181 "ia `tasks` uses http, not https, regardless of the setting of `secure`"
This code in catalog.py has hardcoded http URLs.

https://github.com/jjjake/internetarchive/blob/5129eefb7ae69bd2f917ee5d60763c05c9d28a3d/internetarchive/catalog.py#L139
[code]

https://github.com/jjjake/internetarchive/blob/5129eefb7ae69bd2f917ee5d60763c05c9d28a3d/internetarchive/catalog.py#L217
[code]

[2017-02-14 10:54] annelhote opened #182 "Creator field in metadata seems not to be flushed in bulk upload"
I try to use internetarchive lib in CLI to bulk upload my files ([https://internetarchive.readthedocs.io/en/latest/cli.html#bulk-uploading](https://internetarchive.readthedocs.io/en/latest/cli.html#bulk-uploading)) with the metadata as a CSV file but the creator field seems not to be flushed between the different uploads :
[https://archive.org/details/EL033_P_1965_003_TEST29](https://archive.org/d

[2017-02-22 18:18] ethus3h opened #183 "Error message: unsupported operand type(s) for -=: 'Retry' and 'int'"
I've seen this a few times now, using internetarchive 1.4.0 in GNU/Linux with Python 2.7. The upload command is: `ia upload "$CrystalID" --verify --retries=100 --metadata="subject:Uploaded using Crystallize $crystallizeVersion" --metadata="subject:1EA21BD8-DB7E-11E5-9733-728C37852114" --metadata=subject:"$crystalTitle" --metadata=subject:"$CrystalID" --metadata="collection:$crystalCollection" --de

[2017-02-28 13:52] joepie91 opened #184 "Meaning of "formats" in documentation is unclear"
The [documentation for downloading items](https://internetarchive.readthedocs.io/en/latest/api.html#downloading) states the following for the `formats` option:

However, it doesn't actually explain what the possible formats *are* or how to discover them. After a bit of experimentation, it turned out that the values here should match the contents of the `<format>` tag in the file metadata (eg. [her

[2017-03-01 18:38] nikhilkumarsingh commented on #183
The error has nothing to do with internetarchive library. The problem is due to mixing of ubuntu packages with pip packages as Ubuntu makes substantial modifications to pip and Requests library.

Please refer this issue: https://github.com/kennethreitz/requests/issues/3560

[2017-03-06 09:57] learning-more commented on #180
@matthazinski, if you add more parameters to your --format string, are both the glob and format parameters accepted? The example shown seems to list the specific details of the mp3 format:

If you add additional detailed format information to --format, does it work?

[2017-03-13 23:26] mlissner commented on #159
This is in the docs now and it feels like something that doesn't need to be part of this library. Should we close this issue?

[2017-03-14 19:05] mlissner opened #185 "Change all functions and methods to have defaults in their signatures"
There's a lot of code in this repo that's like this:

    def do_something(foo=None):
        foo = 'blah' if foo is None else foo
        # some stuff happens here.

These should be:

    def do_something(foo='blah'):
        # some stuff happens here.

Maybe this is a design pattern I don't know, but it muddies up the documentation and it makes reading the code take more effort. Perhaps somethin

[2017-03-19 05:52] JesseWeinstein opened #187 "Some items return multiple values unexpectedly"
The search API (both advancedsearch and scrape) seem to be able to return multiple values in some cases, even where the field is not expected to be able to contain multiple values (like identifier, for example).

At least for the `--itemlist` mode, such multiple-valued items should probably be ignored, with a log message warning about the problem.

[2017-03-19 06:23] JesseWeinstein commented on #187
One current example is https://archive.org/metadata/WashingtonInDomesticLife -- which when queried with `ia search WashingtonInDomesticLife` returns `{"identifier": ["WashingtonInDomesticLife", "WashingtonInDomesticLife"]}`

[2017-03-19 07:09] bwnelson commented on #187
In case it helps:
There were a bunch in December 2016 returning lists which were no longer doing so in January 2017.  The WashingtonInDomesticLife seems to be the only one returning a list from January-Present.

Here's a few of the identifiers which were returning lists:
[u'46today', u'46today']
[u'6sath10', u'6sath10']
[u'957thDay', u'957thDay', u'957thDay', u'957thDay']
[u'ALifeOfFrancisParkman'

[2017-03-20 11:57] Vineet1003 commented on #173
can you elaboratea little .. didnt got u

[2017-03-20 18:54] ethus3h commented on #173
Uploading data through standard input requires enough disk space to store the entire stream while it is being uploaded, and the upload does not begin until the stream is stored in its entirety locally. This causes two issues:
- Data cannot be uploaded through standard input if there is not enough local disk space to hold it in its entirety
- Data cannot be uploaded and created in parallel, making

[2017-03-25 02:43] ethus3h opened #188 "Feature request for upload: Timeout, and retry afterwards"
Sometimes `ia upload` (maybe once every few hundred uploads) gets stuck, and indicates minimal network traffic or CPU usage for several hours until I get tired of waiting for it and kill it. When this happens, it would be nice if it could timeout automatically after a customizable time (e.g. after two hours with no network use). Thanks!

[2017-03-26 03:05] ethus3h commented on #183
I appreciate the thought, but am not using Ubuntu.

[2017-04-01 22:42] kngenie opened #189 "Item.upload_file() fails for zero-length file with XML parse error"
Using 1.5.0. This is a corner case, but `Item.upload_file()` fails if file is empty (length==0), with `ExpatError`:
[code]

This is actually a problem in `requests`. it's not sending `Content-Length` header when data uploaded is zero-length, and IAS3 returns `411 Length Required` response with HTML content:
[code]

I think `Item.upload_file()` could catch `ExpatError` and print raw response conten

[2017-04-10 19:11] Placid7 opened #191 "ImportError: cannot import name 'upload'"
"from internetarchive import upload" receiving error "ImportError: cannot import name 'upload'"

[2017-04-11 05:20] Schplee opened #192 "Collection download success - no files downloaded."
New user, but when I attempt to download a collection, it successfully finds and downloads all the files in the collection, however, it doesn't appear to actually download the files. I've searched everywhere on my harddrive. Likewise, when I choose to use the working directory with "--no-directories," the files still do not appear in the current directory. I have no idea what I'm doing wrong.

htt

[2017-04-11 17:55] jjjake commented on #173
Thanks for taking the time to create this issue @ethus3h. Unfortunately at the moment IA-S3 requires a Content-Length header, and does not support chunked transfer encoding. So, even if the user was able to provide a Content-Length header, the content would still need to be downloaded locally first.

There has been talk about adding support for this to IA-S3, but no plans to do so. If we ever add

[2017-04-11 17:55] #173 closed

[2017-04-11 17:58] jjjake commented on #180
Thanks @matthazinski. I think this is a documentation issue. I'm having trouble imagining a scenario where it would be essential to filter by both format and glob pattern. Please give some examples of where this would be useful if you have any.

Thanks again.

[2017-04-11 18:00] jjjake commented on #181
Thank you @p8NG6L. I will make sure to resolve this in the next release. My apologies for this, and thanks again for bringing it to my attention!

[2017-04-11 18:03] jjjake commented on #182
Thanks @annelhote.

I'm not sure I understand what the issue is -- is it that the creator field is the same for each item even though the rows on the spreadsheet have different creators? Either way, would you mind emailing or linking me your spreadsheet? Thanks again!

[2017-04-11 18:05] jjjake commented on #183
Thanks again for the report @ethus3h. What OS are you using, and how did you install ia?

[2017-04-11 18:09] jjjake commented on #184
Thanks @joepie91. I'm glad you were able to figure out, but yes this should be clearer in the documentation. I'll try to get to this soon.

Note that you can also use `ia metadata nasa --formats` to see all the possible formats for a given item. `ia ls nasa --all` will give you a more detailed listing of the files and their associated metadata. The third column is format.

[2017-04-11 18:18] jjjake commented on #185
Thanks @mlissner. This is to avoid gotchas with Python's treatment of mutable default arguments in functions. This forces a new object to be created each time the function is called.

You can find more details on this behavior here: http://python-guide-pt-br.readthedocs.io/en/latest/writing/gotchas/

[2017-04-11 18:18] #185 closed

[2017-04-11 18:25] mlissner commented on #185
I thought it might have something to do with this gotcha. But this gotcha only applies with mutable arguments like lists and dicts. Of course it's your prerogative, but why not use default arguments when you can instead of not using them at all?

[2017-04-11 18:27] jjjake commented on #187
Thanks @JesseWeinstein and @bwnelson. This should never happen (i.e. there should always only be one identifier.).

I think the solution is to figure out why this happened (looking into this now), address that issue, find all the cases of this, and finally fix the affected items.

@bwnelson if you could provide a full list, that would be very helpful. Thank you.

[2017-04-11 18:34] jjjake commented on #188
@ethus3h Thanks once again! : )

I'm currently working on a big ingest myself, and noticed this as well. This is high on the list of priorities, will fix ASAP.

In the meantime, a change like this should do the trick:

[code]

[2017-04-11 18:36] jjjake commented on #191
That's strange... can you provide any more details @Placid7? How did you install ia, and what version are you using? Can you do `from internetarchive import get_item`? What about just `import internetarchive`?

[2017-04-11 18:41] jjjake commented on #192
@Schplee nothing is being downloaded. You will see a `d` for every file that is downloaded successfully (between the colon and `- success`), an `e` if there was an error, and `.` if the file has already been downloaded.

I believe the reason nothing was being downloaded has to do with your `--glob=\*pdf` parameter. Escaping the `*` will depend on your shell, but does this work?:

    ia download -

[2017-04-11 18:45] Schplee commented on #192
Ah, I see. Thank you, that clears things up. And I agree, more clarity is always good.

However, after changing the input, it still doesn't show that any files were downloaded (a 'd' after each colon). This is very strange, because the collection contains PDFs of every magazine.

[2017-04-11 18:50] #159 closed

[2017-04-11 18:57] jjjake commented on #185
I agree that this might be worth refactoring at some point, but as it would touch so much of the code I would not want to rush it through. A change like this would require a very thorough code review, as I'm not 100% confident in the tests at the moment.

I would like to prioritize other issues at the moment. If you would like to take this change on, I would be open to that. But, I am not sure how

[2017-04-11 19:02] jjjake commented on #192
Hm. It looks like you're on Windows, correct? What shell are you using? What if you double quote `"*pdf"`? I really think this is an escaping issue... maybe even try something like `'\*pdf'`?

My apologies this isn't working for you, I hope we can figure it out. As a workaround though, you could use the `--format` option. For example:

    ia download --search collection:n64magazine --no-directori

[2017-04-11 19:10] Schplee commented on #192
You are correct, I'm using Windows, and simply the command prompt. But wow, I can't believe it was as simple as that. `"*pdf"` was the solution, and every file is successfully downloading.

Thank you very much for your assistance!

[2017-04-11 19:40] mlissner commented on #185
Your call. I'm not in a position to fix it myself (got too much of my own junk), but I opened it originally so it could go into longer range planning.

[2017-04-11 20:02] jjjake commented on #192
Great to hear! I'll make a note to clarify this in the documentation.

[2017-04-11 23:15] ethus3h commented on #183
I'm using Gentoo GNU/Linux, and installed it using [this trivial ebuild I made](https://github.com/ethus3h/wreathe-overlay/blob/master/dev-python/internetarchive/internetarchive-1.5.0.ebuild) (an ebuild is basically a set of instructions for installing a package in Gentoo — PyPI packages are handled automatically, so the ebuild doesn't really do anything).

[2017-04-11 23:15] ethus3h commented on #188
I'm afraid I haven't been uploading a whole lot lately, so I don't have any specific examples on hand. I'll let you know next time I see one, though!

[2017-04-11 23:17] ethus3h commented on #173
Aaaahhh, I guess that's why I was having such a hard time getting my own implementation of the multipart uploading to work. They should probably update [the API documentation](http://archive.org/help/abouts3.txt), because it claims to support multipart uploads.

[2017-04-13 17:41] jjjake commented on #173
@ethus3h we do support multipart uploads, just not chunked transfer encoding. The parts have to be uploaded in individual requests.

Have you tried using boto? It's been a while, but I've had good experiences with using it with IA-S3 in the past for multipart uploads. I'm happy to help you troubleshoot this. Feel free to email me if that's easier.

Out of curiosity, why are you interested in using

[2017-04-13 19:15] ethus3h commented on #173
I have a script that tars up and compresses files, then uploads them... I'd like to upload in parallel to tarring (prevents knowing the content-length) to make the process faster and to prevent disk space being needed for a temp file.

I didn't realize multipart and chunked were different things...

Thanks for your info!

[2017-04-21 19:03] capiscuas opened #194 "requests.exceptions.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:645)"
Hi, just I'd like to add this issue as a comment, very low priority or you can close it if it's not worthy.
Because it happened to me that I was receiving this error when calling the search_items:
[code]
then i realized the archive.org site is down for maintenance:
![image](https://cloud.githubusercontent.com/assets/515154/25292293/cec8f376-26d5-11e7-93f8-492b072275de.png)

maybe some try: catch s

[2017-04-23 23:39] TheCoinCollector commented on #63
Hey, I was having this same problem on the current version, internetarchive 1.5.0 - in my case it was a TM symbol tripping it up.  I was able to fix it for me with @saper 's fix plus one other similar change.

My original error:
[code]
I did @saper 's change, in ia_upload.py:
`md_args = ['{0}:{1}'.format(k.lower(), v) for (k, v) in row.items() if v]`
to
`md_args = ['{0}:{1}'.format(k.decode("utf-8

[2017-04-24 17:17] jjjake commented on #194
@capiscuas Thanks for pointing this out. I hope you didn't spend, too, much time debugging!

I think having a helpful error message about the site being down when this happens is a great idea. I'll add it to the list. Thanks again!

[2017-04-24 17:35] capiscuas commented on #194
Hehehe, you are welcome. Just spend few minutes debugging, no problem.

[2017-04-24 19:12] #188 closed

[2017-04-24 19:24] #181 closed

[2017-04-25 17:38] #163 closed

[2017-04-25 17:47] #192 closed

[2017-04-25 17:58] #172 closed

[2017-04-25 18:16] #180 closed

[2017-04-25 18:18] #164 closed

[2017-04-25 18:19] jjjake commented on #182
I'm closing this for now, we can reopen if more details are provided.

[2017-04-25 18:19] #182 closed

[2017-04-25 18:21] jjjake commented on #191
I'm closing this for now, happy to reopen if more details are provided.

[2017-04-25 18:21] #191 closed

[2017-05-07 20:07] ethus3h commented on #183
For what it's worth, I've worked around this by using [a bash wrapper around `ia` to forcibly retry whenever something goes wrong](https://github.com/ethus3h/crystallize/blob/v3.1.2_pre2.5.3/scripts/ember_bash_setup#L94), so this isn't a huge priority for me now (it would be nice to understand what's causing it, but my immediate issue is now solved). Thanks!

[2017-05-08 20:23] #189 closed

[2017-05-08 20:25] jjjake commented on #183
Thanks for the follow up @ethus3h. I'm glad you have a work around. I'll keep the issue open, so we can hopefully get to the bottom of this! Thanks again! : )

[2017-05-17 09:30] vxbinaca opened #195 "'Item has been taken offline' when it's not"
[code]

Edit:

By the time you see this this item will be uploaded because it's a channel that needs an emergency rip so I'm restarting the rip from this point. However I've encountered this multiple times.

[2017-05-18 21:49] jjjake commented on #195
Thanks for the report @vxbinaca.

To be clear -- you're getting this error, but it seems to be transient? What version of `internetarchive` is this happening with?

[2017-05-19 00:34] vxbinaca commented on #195
[code]

[2017-05-24 06:16] bwnelson commented on #187
I'm not seeing any multiple values in the latest dump, but here's the list from 2016.12 just in case:

[returning_lists-2016.12.txt](https://github.com/jjjake/internetarchive/files/1024545/returning_lists-2016.12.txt)

Sorry about the delay!

[2017-05-25 17:13] jjjake commented on #187
No problem, thanks for passing it along @bwnelson!

[2017-05-25 17:13] #187 closed

[2017-05-28 20:42] davmo opened #196 "A '–' (Unicode EN DASH) character in spreadsheet title causes a crash"
The column "title" in a spreadsheet file contains "hpr0989 :: Juiced Penguin 079 – Early Spring" with a Unicode character in it. This causes ia to fail with this error:
[code]
The offending file can be supplied on request

[2017-05-29 00:13] saper commented on #196
Does this help?

https://github.com/jjjake/internetarchive/compare/master...saper:utf8mod

[2017-05-29 08:48] davmo commented on #196
Thanks.
Excuse my ignorance, but how would I go about testing this?

[2017-05-29 09:54] voltagex commented on #176
I'm getting the same with `requests==2.16.5` on Python 2.7.12 and `requests==2.9.1` on Python 3.5.2. Both running on "new" Ubuntu 16.04 AWS boxes.

[2017-06-02 13:10] jeffgerhard commented on #167
I haven't been able to get `tasks` to work for several days now. It seems to be a recurrence of the above problems. I can construct URLs that return JSON, i.e., https://archive.org/catalog.php?json=2&output=json&callback=foo seems fine.  But `ia tasks` and the python `get_tasks`  command fail with "unable to parse JSON" errors.

If this is a transient problem it's persisted for a while. Wanted to

[2017-06-08 12:08] jeffgerhard opened #197 "error downloading non-public files"
I'm no longer able to download files that require my logged-in credentials. I work on a library project that includes IA materials that are not generally available for public download; however, until recently I could download these files through `internetarchive` using my account access. Now I'm receiving Forbidden errors like the following (in python):

The command line tool `ia download` also re

[2017-06-08 17:12] jjjake commented on #197
@jeffgerhard When is the last time you ran `ia configure`? The `logged-in-` cookies it adds to that file are good for about a year. After that you will need to rerun `ia configure` to refresh your cookies.

I appreciate the details on OS, platform, and version -- these are always helpful!

Please let me know if the above doesn't help, and I'll take a closer look. Thanks for the report!

[2017-06-08 18:55] jeffgerhard commented on #197
Thanks @jjjake ! That was the issue. Rerunning `configure` also cleared up my problem with `tasks` on [167](https://github.com/jjjake/internetarchive/issues/167#issuecomment-305782887). I didn't suspect that I had any problem with my local configuration since I have been able to upload and modify items normally. Thanks for the easy fix!

[2017-06-08 19:52] jjjake commented on #197
No problem. I will also look into adding a more descriptive error that suggest running `ia configure` again when this happens.

[2017-06-08 19:52] #197 closed

[2017-06-08 21:11] saper commented on #197
Didn't know one can upload non-public data. Why do so and how?

[2017-06-08 22:01] ethus3h commented on #197
@saper: The Internet Archive's Open Library project, for instance, allows borrowing scans of in-copyright books. The original files aren't publicly available, because there wouldn't be any way to make sure the scans got returned by the due date (the files borrowed from Open Library are encrypted, so they can't be used outside of the period they were lent for). That makes sure that only one person

[2017-06-09 17:18] jjjake commented on #197
@saper There are various reasons we have data that is non-public. Our lending library is an example, as ethus3h points out.

Uploading non-public data requires uploading to an access-restricted collection. You'll need to contact info@archive.org to get this setup if you need it for some reason. For obvious reasons, we only do this when necessary (e.g. if something can only be archived if it's not

[2017-06-09 18:16] jjjake commented on #196
@saper thanks for pointing to your solution. What do you think of this?:

https://github.com/jjjake/internetarchive/tree/csv-unicode-support

I think this is a better solution for supporting PY2 and PY3. Would you mind giving this branch a try if you have time? Please let me know if you have any other feedback as well.

@davmo How did you install `ia`? I can help you test out Saper or my branches

[2017-06-09 18:46] davmo commented on #196
@jjjake I used pip to install `ia`

[2017-06-09 19:38] jjjake commented on #196
I think this should do it, @davmo:

    pip install 'git+https://github.com/jjjake/internetarchive.git@csv-unicode-support'

`ia -v` should output `1.6.0.dev6`. Run that to confirm you're running with the `csv-unicode-support` changes.

[2017-06-09 20:48] davmo commented on #196
Thanks for that @jjjake. I now see:

[code]

I interpret this as success. The item was already uploaded (I cheated and used `ias3upload.pl`) so it maybe wasn't a good test as it could have been, but I assume that since there was no overt failure it's successful.

[2017-06-09 20:50] jjjake commented on #196
@davmo I didn't make any changes to `ia metadata`, only `ia upload`. I will take a closer look, but I think that warning can be ignored.

Can you test out `ia upload --spreadsheet`? This is where I applied the fix for your initial issue.

[2017-06-09 20:58] davmo commented on #196
Oops! Sorry, I assumed it was common code. I have a batch to upload tomorrow and will test it then by inserting some Unicode as I upload. I'll report back what happens.

[2017-06-09 20:59] jjjake commented on #196
Thanks. It should probably be common code, but isn't currently. I will add this fix to `ia metadata` as well, which should address that warning.

Thanks again!

[2017-06-10 07:12] davmo commented on #196
@jjjake I just tested with an upload where I'd added an EN DASH in the title. It worked without trouble and the resulting upload shows the character as expected.
[code]

Many thanks for your efforts (and those of @saper)

[2017-06-10 07:55] davmo commented on #179
Hi @jjjake. Please let me know if you'd like me to clarify this problem, which is still causing me grief. Here's an updated definition of what's happening.

I just processed hpr2308-hpr3210. These three episodes contain subjects (topics):
[code]

After upload subjects have "bled" over:
[code]
It's as if the same internal structure is being used between spreadsheet rows and is not being cleared bet

[2017-06-11 13:18] saper commented on #196
@jjjake your solution is of course better. I just hacked mine quickly just to figure out if this was the place to put nails into.

[2017-06-11 13:23] saper commented on #197
Thank you guys for the pointers! I wasn't aware of that feature. I was considering IA to store dumps for some public wiki, but redacting all private data would be too difficult, so a closed collection could have been a quick solution for that (but not satisfactory). I will continue working on weeding the private data out and make it public :)

[2017-06-12 16:54] jjjake commented on #196
Thanks for testing @davmo. I'll make sure this gets in the 1.6.0 release.

@saper Thanks for taking a look, and helping out. I appreciate it!

[2017-06-12 16:54] #196 closed

[2017-06-12 16:58] jjjake commented on #179
Thanks again for the report @davmo. This looks like a bug, sounds like your data is fine!

I'll take a closer look this week, and follow up here.

[2017-06-12 17:09] davmo commented on #179
Cool, thanks!

[2017-06-12 18:27] jjjake commented on #179
https://github.com/jjjake/internetarchive/commit/1ed7a8fca452b07c0bfb46c4b4dd1423eaeb656e should fix this @davmo. The previous csv unicode bug fix, and this fix, are now in master. You should be able to try out these changes by installing `ia` from the master branch:

    pip install 'git+https://github.com/jjjake/internetarchive.git

`ia -v` should output `1.6.0.dev7`. Can you confirm this solves

[2017-06-12 18:27] #179 closed

[2017-06-12 19:26] davmo commented on #179
Got it, thanks @jjjake.

Should this change also affect `ia metadata`? My tests seem to show that it doesn't. I reapplied the data to the previously uploaded hpr2308-hpr2310 and the "leaked" subjects were not removed.

I don't have any items to upload at this moment, but I will prepare some shortly and will report back once I have tried them.

[2017-06-12 19:38] jjjake commented on #179
It doesn't. I will work on that next (pulling in both of the recent bug fixes to `ia upload --spreadsheet` into `ia metadata --spreadsheet`).

[2017-06-12 19:54] davmo commented on #179
Success (slightly qualified I'm afraid).

I uploaded four items with different numbers of subjects and there was no "leaking" between the first three.

Unfortunately the upload failed during the fourth, though I don't doubt this is another issue entirely.

[code]

[2017-06-12 20:22] jjjake commented on #179
If that `Broken pipe` error isn't transient, I think it might be related to #179. Let's move the conversation to that issue if it's not transient.

[2017-06-12 20:38] jjjake commented on #179
Alright @davmo, the unicode bug fix has been added to `ia metadata --spreadsheet`: https://github.com/jjjake/internetarchive/commit/94d516246ae6e6de7f01d9cbb33b66ce187584c7

However, `ia metadata` does not have the same issue as `ia upload` does with carrying over metadata values from previous fields (at least I'm not able to replicate it). If you rerun `ia metadata --spreadsheet`, using the same

[2017-06-12 20:42] davmo commented on #179
OK. I successfully uploaded hpr0999 by using a single-item CSV file. So there's nothing inherently wrong with that row of the data.

I did this in the assumption that `ia` would fail if I retried the batch of 4. Now I think of it I may have made the wrong choice there since if the problem is to do with interactions within a multi-line spreadsheet, this was not a useful test. If that's so then apol

[2017-06-12 20:54] jjjake commented on #179
Look forward to the test on the new batch (though, I'm pretty sure the fix works, it will still be helpful).

FYI, if you were to rerun `ia upload --spreadsheet` after the items were already uploaded, nothing bad would happen. Your files would be clobbered with the same files. Metadata is also only meaningful in `ia upload` on item creation (i.e. on the first upload). After that it is ignored, and

[2017-06-12 21:27] davmo opened #198 "ia metadata --spreadsheet= should clear metadata fields which have become empty"
This is a follow-on from #179 and is a response to the last comment regarding `ia metadata`

As I understand it `ia metadata --spreadsheet=` will not currently clear individual components of previously uploaded multi-part metadata. At least, this is my interpretation of what happened when I tried to use it to correct a problem caused by issue #179.

The scenario I face is this:
- an item is upload

[2017-06-12 21:52] jjjake commented on #198
Thanks for the great report, @davmo.

I forgot to mention this previously, but you can remove fields by setting the value to `REMOVE_TAG`. For example:

    » ia md jj-test-2017-06-07 -m subject:foo -m subject:bar
    jj-test-2017-06-07 - success: https://catalogd.archive.org/log/682456408
    » ia md jj-test-2017-06-07 | jq -c .metadata.subject
    ["foo","bar"]
    » ia md jj-test-2017-06-07 | j

[2017-06-13 20:06] davmo commented on #198
Thanks for the `REMOVE_TAG` hint @jjjake. I had seen that in the documentation but had never used it. I can see how I could build something around it to fix stuff - if there was no other way.

What I don't understand is what model you are using to represent multi-element fields. My mental model has always been that something like `subject` is basically a list. I had assumed that if such a list con

[2017-06-17 16:41] davmo commented on #179
Uploading this weekend's batch of episodes worked fine as far as the leaking through of `subject` fields is concerned.
Thanks for fixing this bug!

[2017-06-17 17:09] davmo opened #199 "Apparently repeatable 'Broken Pipe' error on --spreadsheet= upload"
This might be the same issue as #176. If so I'll happily delete this one and attach this text to that issue.

Each weekend I prepare a CSV file of 5 rows (6 with the header) relating to the previous week's podcast episodes (Hacker Public Radio, one episode every weekday - sorry for the plug!). Today's batch was for episodes 2311-2315.

Running `ia upload --spreadsheet=` resulted in a 'Broken Pipe'

[2017-06-18 06:24] vxbinaca commented on #195
I haven't seen this in weeks. I've since done numerous huge channel dumps with zero of this hickup.

Closing because it's not relevant anymore. If it crops back up I'll re-open.

[2017-06-18 06:24] #195 closed

[2017-06-19 18:13] jjjake commented on #195
Thanks for following up, @vxbinaca! : )

[2017-06-19 18:18] jjjake commented on #199
@davmo Yes, it would be helpful if you could send along the spreadsheet and some example files. My email is on my profile.

What's the output of `ia -v` (I'm wondering if you're still using the github master branch), and I believe you're on Python 2 as well, correct?

[2017-06-19 18:25] davmo commented on #199
Thanks @jjjake
Here's the `ia -v` output: 1.6.0.dev7
I'm on a VPS which I don't manage, but as far as I can see both Python 2 and 3 are installed here.

I'll send on some files shortly.

[2017-06-28 00:33] vxbinaca opened #200 "'timeout' no longer appears to be a valid flag"
[code]

Going to take a peek at my script in a second, however I did notice the version bump scanning the output of my VPS shell.

[2017-06-29 19:32] #200 closed

[2017-06-29 19:34] jjjake commented on #200
@vxbinaca Thanks for the report. This was caused by adding a default timeout to upload in the last release.

 0ef3035 should fix this.

[2017-06-29 23:01] vxbinaca commented on #200
Thanks, Jake. Always much appreciated.

[2017-07-07 14:58] vext01 commented on #167
Seems like this is still an issue with the latest release.

[2017-07-10 23:15] #63 closed

[2017-07-10 23:17] jjjake commented on #63
I think a586b96 should resolve this issue.

Please let me know if this does not resolve the issue for you, and I'll reopen the issue. Thanks again, and sorry for the **very** long wait! : )

[2017-07-12 09:11] ethus3h commented on #183
I'm coming to a suspicion that the issue is that Gentoo's package for Requests uses the system urllib3 rather than the one bundled with Requests, and Requests needs its bundled version of urllib3 to work.

This was supposedly fixed by https://github.com/requests/requests/pull/2485, but I'm using Requests 2.12.5 which seems to include that change, so I'm not sure why I'm still seeing it. If you're

[2017-07-13 18:12] jjjake commented on #183
Thanks for the update @ethus3h. Hopefully we can get to the bottom of this soon.

Have you tried using one of the binaries? I'm curious if you experience the same issues with one of the binaries, give this a try:

    curl -LOs https://archive.org/download/ia-pex/ia
    chmod +x ia

[2017-07-13 18:42] ethus3h commented on #183
Ok, to test, I ran `ia upload` with `--retries=100` and turned off the wifi after it printed the item name, first with the system ia, and then with the one just above. The system ia gave the usual error, while the other one gave a temporary name resolution failure error. Both aborted immediately after that, and neither retried as expected.

[Here is a transcript of the terminal session.](https://g

[2017-07-13 21:36] jjjake commented on #183
@ethus3h `ia upload --retries ...` will only retry on 503 errors returned by IA-S3. Your test case will not work offline.

This should be a better test (you should be connected to the internet):

    ia upload <identifier> <file> -H 'x-archive-simulate-error:SlowDown' --retries 100

The `x-archive-simulate-error:SlowDown` header will force IA-S3 to simulate a SlowDown (503) error. Nothing will be

[2017-07-14 00:32] ethus3h commented on #183
I see.

The retrying works fine with both versions using the SlowDown error, so I'll close this and just stick with the bash wrapper.

I'd assumed the retry option would just retry until it succeeded for any transient error (DNS, whatever).

Thanks for your help! Sorry for the false alarm.

_P.S.: I don't mind (and prefer) my tests to be public, at least since they're getting stored anyway, so I'd

[2017-07-14 00:32] #183 closed

[2017-07-14 17:54] Asparagirl commented on #63
I don't have any big files to upload right now, but I'll let you know how it goes the next time I do.  😄

[2017-07-20 20:37] dkl3 opened #202 "500 Internal Server Error"
I've been dealing with this for the last 24 or so hours, and it's been really frustrating.

Output:

uploading /id: [################################] 1/1 - 00:00:00
Traceback (most recent call last):
  File "/home/USER/gs-venv/lib/python3.4/site-packages/internetarchive/item.py", line 645, in upload_file
    response.raise_for_status()
  File "/home/USER/gs-venv/lib/python3.4/site-packages/reques

[2017-07-20 21:28] jjjake commented on #202
Thanks for the report @dkl3. Do you mind if I try to upload a file called `id` to `warc-www_thegreatkaroo_com`? It looks like what's currently there is a 0 byte file. I'd like to try and replicate it.

You could also insert a `print(xml_str)` after line 172 in `/home/USER/gs-venv/lib/python3.4/site-packages/internetarchive/utils.py`. That should at least print out the XML error message which will

[2017-07-20 22:10] dkl3 commented on #202
i'll give you a down load to a warc to try on. I deleted This error occurs in both 1.5.0 and 1.6.0. And for me, it crashes regardless of 0-byte file or not. the file "id" is not 0-bytes. I have to keep restarting again and again, hoping the grab-site warc download will finish uploading.

OK, here's the output:

  _File "/home/USER/gs-venv/lib/python3.4/site-packages/internetarchive/item.py", line

[2017-07-20 22:17] dkl3 commented on #202
In other words, it crashes at random, whenever it wants to, it looks like.

[2017-07-20 22:42] jjjake commented on #202
Yeah, the issue is not it being a 0 byte file. 0 byte files should be fine, and I'd like to support them.

Looks like that print statement didn't quite work as I expected. What I'm after is the response content from the S3 request. The secondary bug I mentioned is preventing it from being printed currently.

I'll try to reproduce, and go from there.

[2017-07-20 22:47] dkl3 commented on #202
thank you very much :)

[2017-07-21 01:35] dkl3 commented on #202
b'<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">\n<html><head>\n<title>500 Internal Server Error</title>\n</head><body>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error or\nmisconfiguration and was unable to complete\nyour request.</p>\n<p>Please contact the server administrator at \n info@archive.org to inform them of the time this error occurred,\n and the actions

[2017-07-21 09:24] vxbinaca commented on #202
I was getting some S3 problems yesterday. I just re-ripped what I was doing where it snapped off when I was using Tubeup. Just chiming in I had a similar problem with S3.

[2017-07-21 15:46] TheCoinCollector opened #203 "Check for valid identifier before uploading?"
I'm still relatively new to using this module, so I wonder if this is this way for a reason.

When attempting an upload with -spreadsheet with what turns out to be an invalid identifier, it waits until the full file gets uploaded and _then_ fails with an error message.  This just happened on a pretty large video file.  Is there any reason it can't check the identifier before beginning the upload?

[2017-07-21 16:31] jjjake commented on #202
Thanks @dkl3... well, that's not a very helpful message.

I'll take a closer look server side.

[2017-07-21 17:00] jjjake commented on #202
Still investigating, but I'm getting reports from others as well too now. I am going to be AFK this morning, but I'll follow up later today.

[2017-07-21 19:53] jjjake commented on #202
@dkl3 this should now be resolved. Please let me know if you continue to experience issues. Thanks again!

[2017-07-21 19:53] #202 closed

[2017-07-21 21:26] jjjake commented on #203
How is the upload failing exactly @TheCoinCollector? What is the error message? Can you also send me the output of `ia --version`?

The Python library that `internetarchive` uses to make HTTP requests, Requests, does not have 100-continue support and our S3 API depends on that for raising certain errors without waiting for all of the data to be sent.

We might be able to work around this client-si

[2017-07-22 00:36] TheCoinCollector commented on #203
I'm on 1.5.0 - downgraded for now to get around the separate broken pipe error.

The identifier error I mentioned here was no big deal - it was longer than 100 characters.  I just thought it was strange ia did the full upload before giving me the error, but if it's because of a technical hurdle that's fine.

[2017-07-24 17:51] #203 closed

[2017-07-24 22:57] jjjake commented on #199
@davmo Sorry for the delayed follow up.

a6d2f97b4b4ae86d31c93200dc56aefa007b83e2 should fix this issue. The issue was in how I was dealing with indexed metadata keys (e.g. `subject[0]`). I was failing to strip the index if it was the only key with an index (i.e. if the item metadata for the given request had `subject[0]`, but not `subject[1]`, `subject[2]`, etc.).

This should now be resolved. Pl

[2017-07-24 22:57] #199 closed

[2017-07-24 23:15] mlissner opened #205 "No timeout for s3_is_overloaded"
I'm currently uploading about 3.4M items to the Internet Archive as part of the [RECAP Project][recap].

As I'm uploading, I've noticed my program freezing without recovery, which in the past has been because somebody (usually me) didn't remember to set the timeout on Python requests. [This drives me nuts][r], and in this instance, it appears to be because `s3_is_overloaded` [doesn't set a timeout

[2017-07-24 23:27] jjjake commented on #205
Thanks for the feedback @mlissner.

e32399384472a7ec0fd59271e2a96c50af441d7f should fix this. The timeout is set to 12, and if it is reached the method returns `True` (as in, yes, S3 is overloaded).

Thanks for catching this, I understand how frustrating this issue can be!

I will work on getting 1.7.0 released over the next couple of days, but you can also use the master branch in the mean time.

[2017-07-24 23:27] #205 closed

[2017-07-24 23:31] mlissner commented on #205
I guess it makes sense that an IA engineer would be familiar with the delights of this problem!

Thank you for the breakneck fix!

[2017-07-25 18:22] jjjake commented on #205
@mlissner v1.7.0 is now available on pypi. Please let me know if you run into any issues.

[2017-07-25 18:56] mlissner commented on #205
Great news. I've upgraded and it'll probably take a day or so to notice if the issue is fixed. I suspect it will be, since I've checked all APIs we're using from this project, and this is the only one I saw that lacked a timeout.

[2017-07-25 23:22] vxbinaca opened #207 "Mismatched reporting on version numbers"
Pip tells me it's `1.7.1` but on [testing](https://archive.org/details/youtube-FThwxz079Vc) the "Scanner" tag is reported as `1.7.0`

I know it's super nit-picky but I wanted to point it out before anyone else did. It's not a problem, and you can close this if you just snort at the issue and I won't be offended, but it's a case of consistency in versioning.

[2017-07-25 23:27] jjjake commented on #207
I released version 1.7.1 shortly after releasing 1.7.0 to address a bug:

https://github.com/jjjake/internetarchive/releases

[2017-07-25 23:27] #207 closed

[2017-07-25 23:32] jjjake commented on #207
Also, not nit-picky at all, thanks for reporting.

Please let me know if I missed something, and we will address it.

[2017-07-25 23:40] vxbinaca commented on #207
I just missed the change. I was upgrading my 5 machines when you were pushing a fix. You were right to close.

[2017-07-26 01:19] vxbinaca commented on #205
@mlissner Hey unrelated to the issue. but THANK YOU for your project. Way cooler than my little script I maintain that mirrors youtube videos to IA. Wow, awesome.

[2017-08-01 23:46] mlissner commented on #205
Confirmed. No more issues with timeouts for the APIs we use. 3.4M items uploaded. Thanks again.

[2017-08-02 04:16] jjjake commented on #205
Thanks for the follow up @mlissner, that's great to hear.

Wow, you already uploaded all 3.4M? Awesome! Feel free to email me if you ever need help or suggestions for large scale uploads like that, happy to help (email is on my profile).

[2017-08-04 23:58] jjjake opened #208 "Archive.org search engine not being updated with new items."
As of right now, new items uploaded to archive.org are not being indexed by the search engine or appearing on their collection pages.

This is a known issue, and will hopefully be resolved over the next 48 hours.

Our apologies for the delay, and thanks for your patience!

[2017-08-05 08:57] saper commented on #208
Is this a bug in `ia` or a bug in the IA infrastructure?

[2017-08-06 08:14] vxbinaca commented on #208
@saper Infrastructure. And I'm curious as to the details of what's going on. If it's related to the power outages, fiber breaks, or new code.

[2017-08-06 08:38] saper commented on #208
Wow, our little bugtracker should be honored to see bags of a big sister tracked over here;)

[2017-08-07 17:03] jjjake commented on #208
@saper We had a few power outages last week and had some issues bringing our search indexing back up.

Everything should be back to normal now.

[2017-08-07 17:03] #208 closed

[2017-08-11 19:26] danaronson commented on #63
this still seems to be a problem.  just trying to retrieve an item using 1.7.2dev1

[code]

[2017-08-11 19:44] jjjake commented on #63
@danaronson Your identifier is not ascii. All identifiers should be ascii. It looks like your hyphens are actually non-breaking hyphens.

Try this:

    Item(identifier='cd_qunxing-sh-yangzong-linzhi-shabaoliang-yuq')

I understand how this might have been confusing. Please feel free to create a new issue with any suggestions you might have for improving the way issues like these are handled. Than

[2017-08-12 06:36] danaronson commented on #63
you are right indeed.  sorry for the false alarm.  I cut and pasted for a web display of the identifier, not quite sure why that display was that.

[2017-08-27 23:01] vxbinaca opened #210 "Two quick questions..."
- what's the flag to set licences for items? [Like this licence](https://archive.org/details/youtube-CTsDG6KIMss). Currently I have to hand process her subtitles (this is due to a bug in youtube-dl where the library calls won't convert subtitles to SRT), however I'm having to hand-set her licence too [and I did get her permission first.](https://twitter.com/vxbinaca/status/894439682796388352). The

[2017-08-28 18:07] jjjake commented on #210
You simply need to add the URL to the license to the `licenseurl` metadata field. For example:

    ia upload jj-test-2017-08-28 foo.txt -m 'licenseurl:https://creativecommons.org/licenses/by-sa/4.0/'

If you bake this into `tubeup` (that'd be cool! : )), please use HTTPS rather than HTTP.

You can upload your items with `noindex:true`, and remove the `noindex` tag when you wanted them to be index

[2017-08-28 18:07] #210 closed

[2017-08-28 18:31] vxbinaca commented on #210
**Baking CC-BY-SA-4 into Tubeup:** We left licencing out so as to not mis-licence things, and we' go back by hand and do one or a few videos, but doing her collection is labor intensive.

Just to clarify though, you mean this as a flag (using complete command):

`tubeup --metadata=collection:naomiwuarchive licenseurl:https://creativecommons.org/licenses/by-sa/4.0/ https://www.youtube.com/channel/U

[2017-08-28 18:46] jjjake commented on #210
Yes, that command above looks correct.

With regards to the obscuring goals. It sounds like you get the idea of why we would discourage noindexing items uploaded to archive.org. Please do whatever you think is best. I still would strongly suggest against it as a default in any code used by many people.

[2017-08-28 18:48] vxbinaca commented on #210
I'll push that command to my servers and simply avoid non-indexing. Thanks!

[2017-09-01 23:22] vxbinaca commented on #210
We had to do a moderate code addition to Tubeup yesterday, and one of the things I changed was bumping the CC-BY-SA to 4.0. Chaining the flags worked instead of cramming them onto one long flag. Thanks!

Please update your `tubeup` and `youtube-dl` packages, and pass the word on. Youtube won't work until you do.

Semi-related: The layout change on Youtube halted all archival activity because the c

[2017-09-03 20:36] palewire opened #211 "item.upload throws error when file object submitted"
The documentation suggests the upload API accepts file-like objects but I'm getting an error when I try to submit a file reference from a Django ImageField. Here is a simplified version of method on my model object that's failing.

[code]

The error comes in ``recursive_file_count`` when the code attempts to open the object as if it were a string with a  file path.

[code]

I don't think that will

[2017-09-06 18:14] jjjake commented on #210
Thanks for the heads up, I'll pass along the info @vxbinaca! : )

[2017-09-06 18:18] jjjake commented on #211
Thanks for the report @palewire.

It looks like what you're doing should work. I have never tested it out on Django ImageField objects, though. I think this is something we definitely would like to support. I will take a closer look and follow up here.

[2017-09-08 21:43] palewire commented on #211
Is there an example out there I can refer to?

[2017-09-08 22:36] jjjake commented on #211
@palewire Looks like there was a bug in `recursive_file_count()` in deed. https://github.com/jjjake/internetarchive/commit/a3fa4710ae45499c9241a2857cde693986688c10 should fix it.

Here's an example that should work with the most recent commit posted above (v1.7.2.dev5):

    from StringIO import StringIO

    import internetarchive as ia

    if __name__ == '__main__':
        fobj = StringIO('foo

[2017-09-08 22:36] #211 closed

[2017-09-17 05:46] vxbinaca opened #212 "Bring code copyright to current year"
This can be done easily in a one-liner (this should work):

`git grep -l '2016' | xargs sed -i 's/2016/2017/g'`

~~Not to adopt a Stallman beard to compete with yours, but please also consider [alternatives to copyright](http://questioncopyright.org/) for your code.~~ Nevermind that.

Thanks!

[2017-09-17 07:22] ethus3h commented on #212
As far as I can see, it's AGPL3, which is a great free/libre/open-source license!

[2017-09-18 17:08] #212 closed

[2017-09-28 18:56] jjjake opened #214 "Expose ArchiveSession._mount_http_adapter in the API."
This would be helpful for fine tuning retry behavior for specific requests, for example.

[2017-10-10 18:45] jjjake opened #216 "Add rsync-like directory sync"

[2017-10-10 18:45] #214 closed

[2017-10-11 16:46] jasconius commented on #178
I'm getting this right now with 2.18.4 ... I initially suspected some sort of timeout by the receiving server, however, similar data loads from different request clients seem to be handling fine...

There's a certain request size that triggers this. I can run the same script on smaller data and it will work fine.

[2017-10-11 17:12] jasconius commented on #178
Some aspect of this issue plays out entirely on the client side. I can arbitrarily decrease the size of my request, and upon crossing the magic threshold, I go from multi-minute hang, followed by SysCallError, to nearly instant completion, 200 OK

In this sense I think I've ruled out a potential server timeout as a root cause of this issue.

FWIF, my request data (post) is a handful of 500-2000kb

[2017-10-13 06:58] daavve opened #217 "pkg_resources.DistributionNotFound: The 'backports.csv' distribution was not found and is required by internetarchive"
Hi, I am the package maintainer for this program on Arch Linux:  https://aur.archlinux.org/packages/python-internetarchive/

Unfortunately,  I always get the following error message when trying to do anything with the "ia" command:

[code]

Never seen anything like this before, please let me know if you need any more info.

-Dave

[2017-10-13 10:20] vext01 opened #218 "Allows uploading files with disallowed characters."
Hi,

I recently uploaded a file using your Python script. It worked fine, but when I came to move it using the web interface. an error occurred:

![error](https://user-images.githubusercontent.com/604955/31541707-794cdcf8-b007-11e7-80aa-1d055a675a93.png)

Should you check the filenames *before* the upload?

[2017-10-14 21:43] vxbinaca commented on #218
Yes this is especially cruel because it's killed massive 6 gigabyte Twitch uploads for me.

[2017-10-16 18:27] jjjake commented on #218
Is this a bug report for the HTML uploader on archive.org, or the Python library/command-line tool? What is the character that's causing the issues?

[2017-10-16 18:35] jjjake commented on #217
Thanks for maintaining the Arch Linux pacakge, @daavve!

I'm not very familiar with Arch Linux packages, but I noticed that `backports.csv` is not listed as a dependency on https://aur.archlinux.org/packages/python-internetarchive/. Could that be causing the issue?

Here's the backports.csv repo: https://pypi.python.org/pypi/backports.csv

What happens when you try to install it manually with `pyt

[2017-10-16 23:36] vxbinaca commented on #218
For me it was :

[2017-10-16 23:54] vxbinaca commented on #218
No this is for item identifiers. Please see [issue #47](https://github.com/bibanon/tubeup/issues/47) I'm waiting for Antonizoon to fix this.

[2017-10-17 11:58] ethus3h commented on #218
The screenshot in the initial issue report here is in a filename rather than an identifier, it looks like... (perhaps the "+"?)

[2017-10-17 17:58] jjjake commented on #218
@vext01 I misunderstood your issue yesterday. It looks like this isn't an issue with this library or the command-line tool, but an issue with archive.org (specifically, moving/renaming files with edit.php). These types of issues are better sent to info@archive.org, but I'll pass it along. Thanks for the report, we appreciate it!

In the meantime, you can get around this by re-uploading your file w

[2017-10-17 17:58] #218 closed

[2017-10-17 18:24] vxbinaca commented on #218
We know. That's why we want to take the output youtube-dl gives us, and just adapt it on our end, instead of asking you all to change.

By the way, the command line output for this illegal item character error has a typo. "Somting" is missing the H.

Thanks again.

[2017-10-18 06:51] daavve commented on #217
Thank you pointer to the backports.csv package.  The name sounded so much like a file name that I forgot to check I was missing a python package.  I added the dependencies my package and everything seems to work.

-Dave

[2017-10-18 06:51] #217 closed

[2017-10-18 21:24] jjjake commented on #217
Awesome, that's great to hear! Thanks again for maintaining the Arch Linux package, that's really great! : )

[2017-10-18 23:36] tim-moody commented on #157
ia metadata iiab-test-file-17-10-15-9a --modify='licenseurl:http%3A//creativecommons.org/licenses/by-sa/4.0/'

returns

error (400): Metadata field 'licenseurl' with value 'http%3A//creativecommons.org/licenses/by-sa/4.0/' doesn't match required pattern '=^http://creativecommons.org/(licenses|publicdomain)/='

what does this mean and what is the proper syntax?

[2017-10-18 23:58] tim-moody commented on #157
sorry. I thought this failed, but now it works
ia metadata iiab-test-file-17-10-15-9a --modify='licenseurl:http://creativecommons.org/licenses/by-sa/4.0/'

[2017-10-19 23:19] bnewbold opened #220 "Special-case uploading current directory"
If I try `ia upload SOME-ITEM .` when there is a file with a dot in the current directory, I get:

    error uploading /./RDS_ios.iso.sha: Invalid Argument - when key is split on /, result cannot contain . or ..

Work around is to `ia upload SOME-ITEM *`. As a low-priority feature request, would be great to say `.`.

[2017-10-21 03:19] mistydemeo opened #221 "Persistent ReadTimeout while uploading many files"
I have a directory structure containing roughly 7800 files that I'm uploading. I've noticed that, a few hundred files in, I consistently get a `requests.exceptions.ReadTimeout` while uoloading. The exception's unhandled and isn't affected by the `--retries` commandline option; as a result, there doesn't seem to be a way for me to resume from the file I was uploading when the exception hit.

Steps

[2017-10-26 03:24] mjb2010 opened #222 "undocumented features need to be documented"
`ia --log`
Logs uploads and errors to the file internetarchive.log, appending to it if it already exists.

`ia metadata --append=foo:bar`
Appends bar to foo's existing value, e.g. if foo's value is "abc", it becomes "abcbar".

"If you would like to specify multiple values for certain fields, an index can be provided: subject[0], subject[1]" ... this is mentioned only under "Modifying Metadata in B

[2017-10-26 03:31] mjb2010 commented on #221
I got this a couple of times, too, when uploading a large number of small directories (4 files per directory, each file a few megabytes) via a spreadsheet. The first timeout happened after about 30 directories had been uploaded and the second happened pretty quickly after that, so it does seem to be somewhat random. None of the folders were that much bigger than any of the others.

[2017-10-26 03:35] mjb2010 opened #223 "Invalid Character Error does not tell you what/where the character is"
Perhaps a server-side feature request, but I kept getting "error (400): Invalid Character Error" when trying to upload from a spreadsheet, and had no idea where the problem was. It would help if this message would tell you what character is invalid or where it is. In my case, it was a space character in a metadata field name.

Or maybe just add something to the FAQ.

[2017-10-26 17:24] jjjake commented on #221
Thanks for the reports @mistydemeo and @mjb2010. I'm investigating.

Can you guys send me the identifiers that you're getting this timeout with? You can email me if you'd prefer, my email address is on my profile.

[2017-10-26 17:31] jjjake commented on #222
Thanks for the beedback, @mjb2010.

I'll get to this as soon as I can, but pull requests are always welcome as well.

[2017-10-26 18:42] #223 closed

[2017-10-26 18:43] jjjake commented on #223
Thanks again @mjb2010. I updated the docs: 60570b18446488d053450868377cc4875474f1fe

[2017-10-27 22:55] mistydemeo commented on #221
The identifier I've been having the timeout with is `sound_canvas_midi_collection`.

[2017-10-27 23:42] jjjake commented on #221
Thanks @mistydemeo. I'll have a chance to take a closer look next week.

The retry parameter should definitely force a retry on 503s (i.e. getting rate-limited). That's a bug, if you're experiencing this. Maybe it's that all of the retries are failing, and you're seeing the error message from the final retry attempt failing? `ia --debug upload ...` might be helpful in diagnosing this. It will log

[2017-10-31 18:49] ethus3h opened #224 "Downloading non-existent files reports success"
Running `ia download skoda-december 'skoda-december.thumbs/298_248_superb_avro_roku_black_1px%281%29_000014.jpg'` prints:

[code]
and exits with 0 (no error), even though no file was downloaded (because the file specified does not exist — running it with the actual name of the file, `/usr/bin/ia download skoda-december 'skoda-december.thumbs/298_248_superb_avro_roku_black_1px(1)_000014.jpg'`, work

[2017-11-01 19:04] jjjake commented on #224
Thanks for the feedback, @ethus3h.

Yes, this needs some work.

I think it could make sense for this specific case to be treated like an error, but there's also the `ia download <id> -g 'foo*'` case (and similar cases). I think in this particular case, it might not make sense to be treated like an error. For example, maybe you don't know what files are in the item and you want to download them if

[2017-11-06 00:18] vxbinaca opened #225 "--delete not removing directories"
I did a [mirror of a apache directory](https://archive.org/details/lftp-mirror-mardenz-SVG) with LFTP and managed to upload the contents after a few tries, however it's left the directory structure in-tact on my machine even though I used `--delete`.

[2017-11-08 21:37] JustAnotherArchivist opened #226 "ArchiveSession.search_items is unable to sort by oai_updatedate"
As far as I understand the documentation, the following code should list all items in the ArchiveBot collection that were modified yesterday, with more recently modified items listed first:

[code]

Instead, this produces the following error:

[code]

The same thing happens when you use the CLI:

    error: sort field 'oai_updatedate' is not a valid search field

Interestingly, adding a `page` par

[2017-11-08 21:42] JustAnotherArchivist commented on #222
To add three more:

* The `sorts` parameter of `search_items` is undocumented, and its format isn't obvious (cf. #140).
* The possible parameters for the `params` argument of `search_items` are also not documented as far as I could see. (They can be found in the source code of https://archive.org/advancedsearch.php.)
* I didn't find it mentioned anywhere in the docs or `ia help` that `--log` and `

[2017-11-09 18:24] jjjake commented on #226
Thanks for the report @JustAnotherArchivist.

The error message should actually read `... is not a valid sort field` (i.e. sort not search).

By default, search uses the Scraping API (http://archive.org/help/aboutsearch.htm). However, when you specify page and rows params, it uses the Advanced Search API (https://archive.org/advancedsearch.php). It looks like Advanced Search allows sorting by `oai

[2017-11-09 21:51] JustAnotherArchivist commented on #226
Ah, thanks for the explanation.

Yes, fixing the error message and improving the documentation would definitely help. Wouldn't the Scraping API not supporting sorting by `oai_updatedate` still be a (backend) bug though?

[2017-11-09 23:41] jjjake commented on #226
I just got some more info, and it looks like it's not sortable because it's a multi-value field. I would consider this a feature request, and not a bug (info@archive.org is a good place to send those, but I'll pass it along as well.).

If you only care about the first value, you could do something like the following using `jq` (https://stedolan.github.io/jq/):

    ia search 'collection:archivebot

[2017-11-11 16:04] JustAnotherArchivist commented on #226
I see. Yeah, that makes sense. I'll send an email to info@, thanks!

[2017-11-11 16:04] #226 closed

[2017-11-29 11:35] internetmemoryfoundation commented on #178
Hi, @jasconius we are experiencing the same error, could you please share what is the lib you switched to and what version and if that required some changes in the internetarchive python lib APIs?

[2017-12-01 19:33] jeffgerhard opened #227 "Persistently recurring SSL/Windows Socket errors when using ia upload --spreadsheet"
Hi,

For about a month I have experienced regular errors when trying to use `ia upload --spreadsheet=uploading.csv`-style uploads from a Windows terminal. Previously I hadn't used the cli for a while, so I'm not sure when this issue cropped up, but I used to do the same thing in the past regularly without error. I'm not totally sure what these error messages mean and it's possible that it has some

[2017-12-01 21:42] ghost opened #228 "Unable to change an item's file "format" entry"
I have an item on IA where some of the files in the item are wrongly detected as being "DV Video" and "Advanced Audio Coding".

https://archive.org/details/2813_d64_C64_roms_wwwC64com

I am not sure if i'm using the "ia" command-line tool correctly or not, when trying to change the "format" entry of these files. But, based off of https://internetarchive.readthedocs.io/en/latest/cli.html#metadata ,

[2017-12-01 22:26] DuckHP commented on #228
Just for curiousity, i tried
` ia -d metadata 2813_d64_C64_roms_wwwC64com --target="files/Metal_Warrior_3.d64" --modify="format:Unknown"`

which give me:

Even though i would be able to change the format if i were to do it trough the browser_(?)_

[2017-12-05 18:53] jjjake commented on #228
Thanks for the report, @DuckHP. This is either a bug in the browser editor, or the Metadata API. I'm guessing it's a bug in the Metadata API (i.e. you should be allowed to modify this field via the Metadata API), but I'll have to confirm that. If so, hopefully we can get it fixed ASAP.

I'll report back here once I have more details.

[2017-12-11 23:21] DuckHP commented on #228
Unable to 100% confirm it yet, but there also seem to be inability to use  `--append=subject:<topic>` Stephen_Bax_provisional_partial_decoding_Voynich_manuscript --append=subject:phytotherapy

[2017-12-18 03:34] dkl3 commented on #171
I support a fix of this as well

[2017-12-31 11:18] vxbinaca opened #229 "delete --all crashes"
`ia delete satoshi-p2p-research-mirror --all `

[code]

Please close if duplicate for some reason I remember running into this before and possibly making an issue out of it.

Also, how do I set delete on upload in the CLI? Your documentation isn't clear how to do that. It's a library call but not a command line thing. Or maybe I'm making a mistake.

[2018-01-02 17:56] jjjake commented on #229
Thanks for the report @vxbinaca! I'll take a look.

To delete files after they've been successfully uploaded (i.e. a 200 is received and a checksum calculated by S3 is compared with one calculated locally):

```ia upload --delete <id> <file>... ...```

Does that make sense?

[2018-01-03 07:41] vxbinaca commented on #229
Makes sense, just the bug is all I'm really after to be fixed. Thanks.

I have exciting things I'm saving right now. Working with Jason on something neat. Found some hot archival wares with even more important things planned for the future.

[2018-01-05 00:33] jjjake commented on #229
Turns out this bug was causing all ``ia delete`` requests to fail due to the typo, so double thanks for catching that and reporting!

I just patched it: https://github.com/jjjake/internetarchive/commit/f70b09858ce2c1b7c7ac97037e41d2fe6e633fba

I hope to ship it tomorrow (there's another feature that I'm hoping to ship with it, but it needs a little more testing). It's also a single character chang

[2018-01-05 00:38] vxbinaca commented on #229
Polish the other feature because this isn't vital to me right now. Although I've experienced this bug for more than a year, but I feel like I made a report before or mentioned something somewhere.

Should have piped up earlier. Anyway, glad I could help. Closing.

[2018-01-05 00:38] #229 closed

[2018-01-05 00:52] jjjake commented on #229
Hmm, that must have been a different bug. This bug was introduced 29 days ago: https://github.com/jjjake/internetarchive/blob/347306ad83eca7c40a82617b221389c350ead69e/internetarchive/cli/ia_delete.py#L136

The other feature is polished, I just want to do some final testing. I'll probably ship v1.7.6 tomorrow that will have this bug fix in their. Thanks again.

[2018-01-05 21:31] jjjake commented on #229
I just shipped v1.7.6, @vxbinaca.

[2018-01-07 12:33] pgporada commented on #167
I'm seeing the same problem here.
[code]

[code]

[2018-01-08 17:57] jjjake commented on #167
Have you run `ia configure` @pgporada?

[2018-01-23 22:39] pgporada commented on #167
@jjjake Yes, I had run that command during my initial setup. Sorry for the delay.

[2018-01-26 15:10] ethus3h opened #232 "Exiting with success status despite not uploading file"
Hello!

I've started seeing weird behavior: `ia` exits with success status in some cases despite not having uploaded the file successfully. No progress bar or error message is shown.

I'm using version 1.7.6, and `python --version` reports `Python 2.7.14`.

`uname -a`:

[code]

Here's a comparison of two instances, one that failed and one that succeeded.

Kind of mysterious. Thanks! :)

## Unsucce

[2018-01-26 19:24] jjjake commented on #232
Thanks for the detailed report, @ethus3h! This is not good, I heavily rely on exit codes with `ia` and want to make sure they are accurate.

Nothing immediately jumps out at me, but I will try to reproduce. Please keep me posted if you figure anything else out.

Thanks for the thorough details!

[2018-01-26 19:37] jjjake commented on #232
I'm still trying to replicate this, but one thing that might be helpful, if you're able to, is to debug by adding print statements to `internetarchive.item.Item.upload_file` to get a better idea of what's going on.

I know that's not ideal, but I'm having trouble figuring out what this could be, as well as replicating it. I'll keep poking around.

[2018-01-26 21:14] ethus3h commented on #232
Thanks, I'll try that! I'll post back once I have info.

[2018-01-26 21:44] ethus3h commented on #232
Ok, got some interesting results. Here are the print statements I used: https://github.com/jjjake/internetarchive/compare/master...ethus3h:debug-2018jan26.diff

Here's what it printed:

[code]
and then exits successfully.

So for some reason, the condition `isinstance(f, string_types) and os.path.isdir(f)) or (os.path.isdir(f[-1])` is true, and then when it does `for filepath, key in iter_director

[2018-01-26 22:14] jjjake commented on #232
Thank you @ethus3h! This is very helpful.

I still have no idea why that condition is evaluating True, but at least we've isolated it!

Does this return `True` for you?:

    python -c 'import os; print(os.path.isdir("/nvme0n1p5//C3-20180126163818653097802_2d303530300a3412c393c36346519566fe795274eef3.coal5"))'

[2018-01-26 22:26] ethus3h commented on #232
I'm afraid I don't have that file now, I forgot to kill my script before it automatically cleaned up after itself on failure. Sorry.

I made a new one instead, and confirmed that `ia` thinks it's a directory (`ia upload test-2018jan26 /nvme0n1p5/C3-20180126085924522330401_2d303530300acf0b63ad017e4b128c0182ca57b1c354.coal5`).

I tried with Pythons 2, 3, and default, and they all said False.

`pytho

[2018-01-26 22:29] ethus3h commented on #232
OH! `python -c 'import os; print(os.path.isdir("/nvme0n1p5//C3-20180126085924522330401_2d303530300acf0b63ad017e4b128c0182ca57b1c354.coal5"[-1]))'` is True. That's because I have a directory in the folder I'm in called `5`. What is that [-1] thing supposed to do?

[2018-01-26 22:36] jjjake commented on #232
Ah! There it is. : )

So, the `os.path.isdir(f[-1]` bit is to support cases where `files` is a dict (i.e. `upload({'remote_name': 'local_name'})`). Looks like it needs to be smarter, though.

Let me think about the best way to fix this. I'm open to any ideas you have as well.

[2018-01-26 22:50] jjjake commented on #232
I think this should do it (ignore the ia_move changes): https://github.com/jjjake/internetarchive/commit/eb44365282bd610dfe341db1d1d2d81f7ab79426#diff-538a4614642d430cc478b9e1862232a0

Let me know if that helps, and thank you for catching this bug!

[2018-01-26 22:50] ethus3h commented on #232
I mean, I don't really know much Python, but what about something like (in pseudocode):
[code]

[2018-01-26 22:51] ethus3h commented on #232
Heh, beaten to the punch! Thank you for the fix!

[2018-01-26 22:51] jjjake commented on #232
Yup, your pseudocode was pretty much the solution I went for (but checked specifically that it's a tuple rather than it simply not being a string).

Thanks again!

[2018-02-02 10:35] aborruso opened #233 "Search: how to make full text search combined with description search"
Hi,
I would like to filter to make, via command line, this kind of search: `description:(beatles)  lennon`.

All items that have "beatles" in the description, that contain "lennon" inside the full-text.

Is it possibile with `ia`? If yes, how is it?

Thank you

[2018-02-02 11:02] aborruso commented on #222
@JustAnotherArchivist than is it possible to make this kind of query?

    ia search --parameters="description:beatles"  "Lennon"

Thank you

[2018-02-02 18:14] jjjake commented on #222
@aborruso I think this is what you're after:

    ia search 'description:beatles AND Lennon'

[2018-02-02 18:15] jjjake commented on #233
Right now `ia search` does not support full-text search of our texts items.

[2018-02-02 18:15] #233 closed

[2018-02-03 22:59] Franck-Dernoncourt opened #234 "Improve error message when user needs to login"
I was trying to download the following:

[code]

The error message `errors` comes from the fact that one has to login to be able to download the Stack Exchange dump. It would be nice if the error message was more explicit.

[2018-02-05 17:51] jjjake commented on #234
You can use the `--verbose` parameter if you'd like the output to be more explicit:

```ia download --verbose stackexchange```

Or, the `--log` global option:

```ia --log download stackexchange```

Which will log error's like so:

    2018-02-05 09:47:24,157 - internetarchive.files - ERROR - error downloading file stackexchange/3dprinting.meta.stackexchange.com.7z, exception raised: 403 Client Er

[2018-02-05 17:51] #234 closed

[2018-02-21 17:17] p8NG6L opened #235 "Cannot delete files that have %XX patterns in their names"
[code]

When a filename contains a URL-style hex escape such as `%3a`, you can upload it but you cannot delete it:
[code]
The first `ia list` lists all three uploaded files. After trying to delete them, the second `ia list` shows that only `helloworld.txt` has been deleted (moved to the history subdirectory).

I suspect that the problem may be caused by an extra layer of unescaping somewhere, eith

[2018-03-11 00:51] yurivict opened #236 "ImportError: cannot import name printable_usage"
setup.py says ```docopt>=0.6.0,<0.7.0```, I have py27-docopt-0.6.2_1, but it fails:
[code]

[2018-03-11 01:16] yurivict opened #237 "Breaks with python3 because backports.csv are only available for python2"
[code]

[2018-03-12 17:39] jjjake commented on #237
How did you attempt to install `internetarchive`?

I'm able to install `internetarchive` and `backports.csv` on both Python 3.4 and 3.6.

Any further details you're able to provide will be helpful. I'm having trouble replicating this issue. Thanks for the report!

[2018-03-12 17:50] yurivict commented on #237
I am working on the FreeBSD port. backports.csv on the FreeBSD is specifically for python2, because by its definition it back-ports something from python3 to python2. The linux distro that you use missed this, and has it enabled on pythin3 by mistake.

[2018-03-12 17:51] yurivict commented on #236
This bug is a deal-breaker. It can't run with unknown symbols like this.

[2018-03-12 17:59] jjjake commented on #237
I would consider this a bug in the FreeBSD port. While it's intended for Python2, the library is designed so that both py2 and py3 can be supported with:

```from backports import csv```

I can look into making it more flexible (i.e. `Try: import ...`), but want to make sure there's no unintended consequences.

I really think this should be addressed in the FreeBSD port, as `backports.csv` doesn't

[2018-03-12 18:08] jjjake commented on #236
What did you use to install `internetarchive`? I'm not able to replicate this issue with python 2.7.12 and docopt 0.6.2 on mac or linux. I'm assuming this on FreeBSD as well?

What minor version of Python is this? Are you able to run `python -c 'from docopt import printable_usage'` successfully?

Thanks again for reporting the issue.

[2018-03-12 18:09] jjjake commented on #236
Does the binary work for you?:

http://internetarchive.readthedocs.io/en/latest/installation.html#binaries

[2018-03-12 20:43] yurivict commented on #236
OS is FreeBSD. ```python2.7 -c 'from docopt import printable_usage'``` works fine for both python-2.7 and python-3.6.

---

Yes, it works.

[2018-03-12 21:37] ethus3h commented on #237
Not sure what GNU/Linux distribution you looked at, so this might be redundant, but I can confirm that Gentoo also ships backports-csv for both Python 2 and Python 3: https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-python/backports-csv/backports-csv-1.0.5.ebuild

[2018-03-12 22:01] yurivict commented on #237
I found only one other FreeBSD port that uses ```backports.csv```: ```devel/py-cli-helpers```. It does this:

[code]

Since backports is specifically created for compatibility with python2, this seems to be right way, vs. just using backports everywhere regardless.

[2018-03-12 22:02] yurivict commented on #237
And yes, Gentoo port has this bug that it allows backports for python3. Things should be done the right way. -)

[2018-03-12 23:06] jjjake commented on #236
I'm not sure what the issue is here. I'll have to try and get access to a freebsd machine, and poke around.

Please let me know if you have any recommendations for making this work on freebsd, and please feel free to send a PR.

FWIW, I have reports that `internetarchive` installs fine on freebsd with `pip`.

[2018-03-12 23:06] jjjake commented on #237
I'm not sure that I agree with you that your way is the right way, @yurivict, but it should be harmless to patch `internetarchive` to be more flexible.

Feel free to send a PR.

[2018-03-13 03:14] yurivict commented on #237
https://github.com/jjjake/internetarchive/pull/238

[2018-03-13 03:35] yurivict commented on #236
This line works from a standalone file: ```from docopt import docopt, printable_usage```.
But it fails when run as part of ```internetarchive``` for unknown reason.
It's weird that it only fails when installed into /usr/local/bin/. When the file is coped elsewhere it works fine.

[2018-03-13 03:40] yurivict commented on #236
Ok, I found the reason. One other package (pcmsolver) installed /usr/local/bin/docopt.py and internetarchive picks this file as a source to import the module.

This is really a bug in that other package. I have too many weird packages installed - totally my fault. -)

Thank you for your help!

[2018-03-13 03:40] #236 closed

[2018-03-13 17:19] jjjake commented on #237
Merged. Next time make sure to run the tests (there is some pep8 cleanup I'll have to do.).

Thanks!

[2018-03-13 17:19] #237 closed

[2018-03-13 17:22] yurivict commented on #237
Ok, thanks!

[2018-03-13 20:55] yurivict opened #239 "Search requires authentication?"
Docs say that authentication is required for uploads and downloads of restricted content:  https://internetarchive.readthedocs.io/en/latest/quickstart.html#configuring

But ```ia``` asks for credentials even for a simple search.
The website doesn't require being logged in for search.

[2018-03-13 20:58] yurivict opened #240 "Please don't print stack for regular error messages"
This looks like an app failure rather than a legit error message:
[code]

[2018-03-13 21:32] jjjake commented on #239
Yes, `ia search` requires authentication. I'll update the docs.

[2018-03-13 21:32] #239 closed

[2018-03-13 21:40] yurivict commented on #239
Is this because their API permissions are more restrictive than the webpage search, or this is just not implemented in ```ia```?

[2018-03-13 21:55] #240 closed

[2018-03-13 22:03] jjjake commented on #239
As of right now the API itself does not require authentication (http://archive.org/help/aboutsearch.htm), but it likely will someday.

It is required in `ia` because it is useful for us to have search requests associated with an account so we can reach out to the user if their queries are causing issues. In the future we would also like to add rate-limiting to the API, which will require authentic

[2018-03-13 22:10] yurivict commented on #239
You introduce politics here. It's not required, but you require it because of some considerations.
There are people who are allergic to creating accounts, and I happen to be one of them. :)

[2018-03-13 22:27] #146 closed

[2018-03-13 22:34] jjjake commented on #167
I'm closing this issue for now, as I think this issue was/is transient. Please feel free to reopen it if you continue to have issues.

[2018-03-13 22:38] jjjake commented on #174
I believe the issue here was with archive.org hanging up the phone before sending the complete response to the client. This connection would then get returned to the pool in a funky state (client-side), and reusing it causes this issue.

I believe forcing the connection to close after each request, rather than reusing the connection, resolves the problem. I think https://github.com/jjjake/internet

[2018-03-13 22:38] #174 closed

[2018-03-14 02:31] #154 closed

[2018-03-14 02:35] jjjake commented on #154
@vxbinaca We're still going to want to want a config specifically for `ia`, but I added support for using a .netrc file to configure `ia`.

For example:

```ia configure --netrc```

That simply uses `netrc.netrc()`. It doesn't support pointing to specific files, but feel free to add that if you would find it useful. Also note that the Python `netrc` module does not support spaces in `password`. It

[2018-03-14 02:52] vxbinaca commented on #154
I'll hold off using it until they fix that. I only brought it up because it's a unix standard way of insecure storage and parsing of credentials. Some of us use shell boxes and on a multi-user setup......eh it's the box admins fault for not setting 600 or 700 on each user directory.

Thanks. Also, I have questions about deriving. Who do I direct them to? If it's you I'll just email you.

[2018-03-14 03:08] jjjake commented on #154
@vxbinaca you can email me. I'll direct it elsewhere if needed.

BTW, here's the issue if you'd like to follow (looks like it's awaiting review): https://github.com/python/cpython/pull/127

[2018-03-14 16:41] mlissner commented on #178
Getting a very similar issue here:

[code]

[2018-03-14 17:53] jjjake commented on #178
What version are you on @mlissner?

I'm still trying to get to the bottom of this issue, but it seems there is an archive.org bug where our servers hang up the phone before sending the full response to the client. The library I use for HTTP requests, `requests`, doesn't seem to have a way to turn off connection pooling. This seems to cause an issue when archive.org hangs up the phone early, and th

[2018-03-14 18:00] mlissner commented on #178
We're on 1.7.6. I'll upgrade and see if the error happens again tonight.

It seems to be intermittent, but we retry failed uploads for three consecutive nights to deal with network weirdness, so if it's repeatable, we should see it again tonight. If it doesn't happen tonight either the version bump worked or the network became un-weird. If you don't hear from me, that means it worked!

[2018-03-14 18:03] mlissner commented on #178
Sorry, no, I take that back. The server, where this happened, is on 1.7.7. (I accidentally checked my dev machine's version at first.)

So this is definitely still an issue.

[2018-03-14 18:07] jjjake commented on #178
That's very helpful, thanks @mlissner. Sorry for the issues, I'll continue to investigate.

[2018-03-14 18:26] jjjake commented on #178
@mlissner Are you able to try with HTTP rather than HTTPS? I'm wondering if this is HTTPS related, or not.

[2018-03-14 18:29] mlissner commented on #178
I guess theoretically? How do I turn off HTTPS in the internetarchive library?

[2018-03-14 18:34] jjjake commented on #178
You would need to add `{'general': {'secure': False}}` to your config.

here's a patch, for example:

[code]

[2018-03-14 18:39] mlissner commented on #178
Easy enough. I'll give that a whirl and will report back tomorrow if I still have errors. Thanks for the diff. Making life easy around here.

[2018-03-19 21:10] jjjake commented on #227
@jeffgerhard My apologies for not replying sooner.

Are you able to email me (my email is on my profile) a copy of the spreadsheet you were getting this error with?

I've been getting various connection error reports similar to this, and have not been able to sort it out. However, I was finally able to replicate and resolve a similar error someone else was running into just now.

Their issue ended

[2018-03-24 21:34] palewire opened #241 "File object upload crashing"
I am trying to upload a string object I create on the file when I generate a new key in my collection. The plan is to upload more media files to this "batch" later. But for starters I just want to put in a README."

[code]

But when I run `obj.create_ia_batch()`` I get this error:

[code]

What am I doing wrong? The docs suggest uploading file objects is allowed but I can only get it to work if I

[2018-03-24 21:37] palewire commented on #241
I wonder if this exception [here](https://github.com/jjjake/internetarchive/blob/master/internetarchive/utils.py#L235):

[code]

Should be:

[code]

[2018-04-02 20:04] jjjake commented on #241
Thanks for the report @palewire.

I think f2a4add should resolve your issue. Note that you still need to name the file-like object by either setting the `name` attribute, or providing `upload` with a dict like `{'myfile.txt': output}`. Does that make sense?

Let me know if you have any questions or if you still experience any issues with this update. Thanks!

[2018-04-06 09:53] Aubreymcfato opened #242 "'is_collection' access from API"
Not sure if I'm missing something, but is it possible to run a query and access the 'is_collection' parameter? My personal example is this: I want to download metadata from a collection, but I _just_ want to download only other collections, not single items.

I didn't find a way to do it yet, until I discovered the 'is_collection' parameter in the JSON... which seems to be not accessible.

[2018-04-06 17:39] jjjake commented on #242
`is_collection` should be available as an attribute on the `Item` object if the item is a collection. If it's absent, it's not a collection. For example:

    In [1]: from internetarchive import get_item

    In [2]: item = get_item('nasa')

    In [3]: item.is_collection
    Out[3]: True

If you try to access the attribute on a non-collection item, and the attribute is absent, it will throw an At

[2018-04-09 08:15] Aubreymcfato commented on #242
Thanks, it works also with the 'Advanced search' query, which sometimes is the easiest way to get the CSV I need. I missed the 'collection:nasa AND NOT mediatype:collection' syntax. Thanks again.

[2018-04-10 03:04] hofmand opened #243 "Hang when a file contains a colon ':'"

[2018-04-10 17:24] jjjake commented on #243
Hm, the colon shouldn't matter (I just tested on mac and ubuntu now to double check). What version of `ia` are you using and what version of Python?

Are you on a slow connection? Perhaps you're stuck on the `Atari 1020 Printer:Plotter documents_images.zip`, which is ~500MB, and it just appears that it's stuck?

How long did you let it run?

[2018-04-10 22:36] jjjake opened #244 "Consider replacing the requests library with pycurl"
- Pycurl is much faster than requests
- Pycurl has 100 continue support
- We've run into many ConnectionError issues with requests that we've had trouble diagnosing. IA has a better understanding of libcurl than the requests library.

I'm also considering alternatives to pycurl, but so far it seems to be the best fit. These changes would be mostly invisible to users (e.g. return Response objects s

[2018-04-10 22:39] jjjake opened #245 "Replace docopt with argparse"
In working towards the goal of shedding dependencies, replace docopt with argparse.

Feedback welcome.

[2018-04-10 22:42] jjjake opened #246 "Feedback wanted on v2 features and improvements"
I will be working towards a v2 release in the coming months.

I would love feedback/recommendations from anyone who has em'! Please feel free to create a new issue, or reply here. I will be creating new issues myself, as I start working on or considering new features and improvements.

Thanks!

[2018-04-11 07:51] hofmand commented on #243
ia v1.7.7 (binary version), Ubuntu v16.04.3 LTS
I let it run for hours. My connection is 100Mbps down 10Mbps up. Other items of similar size complete quickly.

[2018-04-19 14:54] JustAnotherArchivist commented on #167
I'm seeing this issue right now with version 1.7.7.

[2018-04-25 22:41] ethus3h opened #247 "Feature request: `ia download` should (optionally?) use range requests to resume downloads (and retries seem broken)"
According to `ia help download`, it defaults to retrying 5 times.

These command outputs don't seem to show any retries: https://gist.github.com/ethus3h/b9959869b9b00768cbff1a358efb217a https://gist.github.com/ethus3h/0722f52f5918460e170b5e06628243a8

I'm in a rural area, and have a rather unreliable Internet connection. (It usually goes down every few hours, and can range from dying every couple

[2018-04-25 22:48] ethus3h commented on #247
Oh, I'm using ia version 1.7.6, by the way.

[2018-04-27 18:03] jjjake commented on #245
@vxbinaca I don't believe so, but it's been a while since I've looked at the tubeup code.

I don't see any reason it would require you to replace docopt, but I might be missing something. You're only using the Python interface, correct? If so, this should be irrelevant.

Please correct me if I'm wrong, and thanks for checking on this!

[2018-04-27 18:05] jjjake commented on #247
@ethus3h I would like to add this functionality to v2.

I'm strongly considering switching from the `requests` library to `pycurl` in v2. Resuming partially downloaded files is very easy with pycurl.

Thanks for the feedback!

[2018-04-29 14:29] trumad commented on #246
When a file can't be uploaded (for example, an invalid zip file that the internet archive rejects), it would be better if the uploader could simply skip to the next file and keep going. The current behaviour is that it stops entirely. Then I have to delete the offending file, and start the upload all over again. It would be better if IA upload could keep a list of failed files, continue uploading

[2018-04-29 15:52] JustAnotherArchivist commented on #167
Thanks @jjjake.

It seems to be consistent. At least it doesn't work now either. I can set up something to test it regularly.

I added the print call to `internetarchive.catalog.Catalog._get_tasks`. IA returns HTML instead of JSON(P):

    b'<!DOCTYPE html>\n<html lang="en">\n\n  <head>\n    <title>Catalog - Outstanding Tasks</title>\n\n
    [...]
    <div class="box" style="border:2px solid gray;

[2018-04-30 02:44] vxbinaca commented on #246
**Requested flags:**

- Manually add item to derive que after all other operations are complete.
  (I have to do this from time to time to fix Twitch rips made too early before Twitch fully processed the stream. Spacing out the rips in my cronab for them has mostly fixed this.)

- Cleanse item history and thumbnails. You can break that up into separate flags if you'd like
  (Same reason for Twitch

[2018-04-30 21:55] jjjake commented on #167
@JustAnotherArchivist I'm wondering if your cookies are expired? Try running `ia configure` again, and see if that works.

[2018-04-30 21:59] JustAnotherArchivist commented on #167
@jjjake I really doubt that for two reasons: the returned HTML page has my username in it, and other things requiring authorisation (uploading and changing metadata) work fine.

I just tested it anyway, and the result is still the same.

[2018-04-30 22:06] jjjake commented on #167
To be clear, uploading and changing metadata will continue to work once your cookies expire. These commands use IA-S3 keys. `ia tasks` depends on cookies, which expire.

Ok, thanks for trying.

I'm still unable to replicate this (with priv'd and non-priv'd accounts), but I'll continue to try! Thanks again for the report, and my apologies for the inconvenience.

[2018-04-30 22:13] JustAnotherArchivist commented on #167
Oh, I see. Wasn't aware of that difference. But yeah, the returned HTML also contains a list of tasks (which in my case is currently empty), not just the login message you get when accessing `/catalog.php` without being logged in.

Let me know if I can do anything further to help you with debugging this.

[2018-05-01 18:53] jjjake commented on #167
@JustAnotherArchivist Can you give this patch a try?:

https://github.com/jjjake/internetarchive/commit/9e0b1dd575f57bb0ef06f598aeb791e663f9b6e0

I think your issues might have been related to encoding. Also, either way, can you let me know what version of Python you're using?

[2018-05-01 21:28] JustAnotherArchivist commented on #167
I don't see how that commit would help. `CatalogTask` isn't instantiated until after the HTTP request (i.e. also after the `print` call I had added), and I'm only using a plain `ia tasks` without `--json`.

I tested it anyway, and as suspected, I'm still getting the same behaviour.

I can reproduce this on three separate machines: Python 3.4.2 on Debian Jessie, Python 3.5.3 on Debian Stretch, and

[2018-05-02 17:46] jjjake opened #248 "Unable to turn off keep-old-version in `ia move`."

[2018-05-02 18:15] jjjake commented on #167
Ok, thanks for testing again! When trying to replicate, I ran into this encoding issue (it's an issue when there are unicode characters in the task args). I thought that might be what you're running into.

The person who maintains this endpoint doesn't understand what could be wrong (other than expired cookies), and I'm still failing to replicate it (on multiple platforms, with multiple python ver

[2018-05-02 20:42] JustAnotherArchivist commented on #167
Odd. For the record, I'm seeing it in Firefox as well.

I was hoping to use `ia tasks` to check from a terminal what the progress on deriving my newly uploaded items is. Don't worry about finding a workaround; I can always just check it from the browser instead.

The main reason why I want to check this, by the way, is that I noticed that changing the `date` metadata field on an item (`ia metadata

[2018-05-03 21:33] jjjake commented on #167
@JustAnotherArchivist Do you have an example item where this happened? I'm not aware of this issue, and the person who maintains our Metadata API is not either.

The only case where I think this could happen is if you were deriving item metadata from a MARC record (and in that case, it would happen for any metadata field). Otherwise, this sounds like a bug that we're not aware of.

Feel free to em

[2018-05-03 22:56] saper commented on #167
I think I can reproduce this, too:

error: unable to parse JSON. have you run `ia configure`?

`ia list <someitem> works`

[2018-05-08 08:43] vic60400 opened #251 "Download a folder of an item"
Hi
Is it possible to just download a specific folder of an item ?

[2018-05-09 17:57] jjjake commented on #251
Hi @vic60400, this should do it:

    ia download <id> --glob 'my_folder/*'

[2018-05-09 17:57] #251 closed

[2018-05-10 23:04] vic60400 commented on #251
Thx

[2018-05-10 23:26] vic60400 commented on #251
but this don't works
`ia download <id> --glob 'my_folder/my_subfolder/*'`

[2018-05-11 22:57] jjjake commented on #251
How doesn't it work? That should work just fine (I just tested myself).

Please provide the exact command your running into issues with if possible. Thanks!

[2018-05-12 01:41] p8NG6L opened #252 "Feature request: support `queue_derive` in `modify_metadata`"
Here's my use case: I have an item to upload with multiple files and metadata that varies per file. So I'm calling `upload(id, files=files, metadata=metadata)` once with the item metadata, then repeatedly calling `modify_metadata(id, target="files/<filename>", metadata=<file_metadata>)` for each of the files. I'd like to not start a derive until the entire process is finished. I can set `queue_der

[2018-05-12 01:44] p8NG6L commented on #246
I would like to second the request to provide a way to queue a derive task manually. I just created #252 before noticing this issue.

[2018-05-12 13:42] Num170R commented on #235
My thought was that the mapping {"%3a": ":", "%3d": "="} suggests url decoding.
So, maybe this code block from `ia-upload.py` is relevant:

[code]

I cannot test this, so I just dropped a thought. Feel free to ignore if irrelevant!

[2018-05-14 11:56] JustAnotherArchivist opened #253 "MD5 hash calculated twice for each uploaded file when using --checksum, --verify, or --delete"
Version and platform: 1.7.7 on CPython 3.4.2 on Debian Jessie

When `ia upload` is used with `--checksum`, `--verify`, and/or `--delete`, the MD5 hash of each file is calculated twice: once at the beginning of the command and again before the upload of each file. This happens because `internetarchive.utils.recursive_file_count` does the calculation regardless of the value of `checksum`. `interneta

[2018-05-14 12:01] JustAnotherArchivist commented on #253
#77 is somewhat related.

[2018-05-14 12:01] JustAnotherArchivist opened #254 "`ia upload --debug` doesn't show all requests"
Version and platform: 1.7.7 on CPython 3.4.2 on Debian Jessie

`ia upload test example example2 --debug` prints only one request although two files would get uploaded:

    Endpoint:
     https://s3.us.archive.org/test/example

    HTTP Headers:
     Accept-Encoding:gzip, deflate
     Connection:close
     ...
     Authorization:LOW <stripped>

This minimal code shows that the library itself corre

[2018-05-20 11:50] vxbinaca commented on #246
Oh gimme a way to dark items I have full admin over. Unless you can do that already.

[2018-05-21 16:50] jjjake commented on #246
@vxbinaca Yes, I'd like to add the ability to dark/undark items. We'll need to make a few changes server-side to support this (as well as submitting derives). I hope to get it in the v2.0.0 release, but if not then ASAP. Thanks for the recommendation.

[2018-05-29 08:03] vxbinaca opened #256 "Internal error"
[code]

It's choking on the last but of upload. I'm on .1.7.7 (servers automatically check for new versions of everything).

[2018-05-29 18:39] jjjake commented on #256
Thanks for the report, @vxbinaca. There were some unhealthy application servers, that we have now addressed. This should now be fixed, but please let us know if you see this again (you shouldn't).

[2018-05-29 18:39] #256 closed

[2018-06-16 04:50] JesseWeinstein opened #257 "Idea for a sorting utility for IA items"
A script that takes a search query, and a format-string of fields to display for each item, and up to four functions mapped to arrow keys, that dispose of the item in different ways.

For spam sorting, left could be "not-spam" (i.e. safelist), right could be "spam" (either explicitly darking it if the user has permissions, or creating a sensibly formatted email if not), and up would be "unclear",

[2018-06-16 04:51] JesseWeinstein commented on #257
I may work on this, sometime, but I wanted to dump the idea somewhere others could see it now, to get comments and maybe inspire someone else to implement it.

[2018-06-18 23:08] jjjake commented on #257
This would be handy, thanks for the idea @JesseWeinstein.

I think this would make more sense as an `ia` plugin or a separate script that uses `ia`, since it'd be more of a special case tool used by few.

I'll leave the issue open here for now, incase anybody else has input.

If you do move forward with writing something like this, let me know if you need any help or have any questions.

[2018-06-20 02:46] vxbinaca commented on #246
Disregard my last ideas I just need to actually use the tool more deeply (which I've delved deeper into recently), because just running `ia delete [IDENTIFIER]` does what I wanted anyway.

- 'manage' for doing darks/undarks/generally managing the items, this also goes in line with things you see on the site.

ex:

`ia manage [IDENTIFIER] --dark --comment "Not in line with collection subject" '

I

[2018-06-23 19:36] vxbinaca commented on #246
What would it take to be able to set items to log-in only? Currently you have a collection for such items but that should be a thing we set for more sensitive items. Why can't we set this as a flag for items we have full admin over?

Ex: Youtube has a inconsistent policy on brief nudity. If I were to get a video that had that I'd like to make it log-in only. Some Source Filmmaker material (like 3D

[2018-06-25 19:29] jjjake commented on #246
@vxbinaca I believe an item simply needs to be added to the `loggedin` collection for it to be only viewable by logged-in users (I'm not certain, but I'm pretty sure that's how it works).

`ia` is able to do this right now. You might run into permissions issues, but there's not much I can do about that. Please send any perms or policy questions to info@archive.org.

[2018-07-06 11:29] B5045438 opened #259 "Can't execute the binary due to encoding issue"
When I try to execute the ia binary from the [website](http://internetarchive.readthedocs.io/en/latest/cli.html) using python 3, I get this error:
`  File "ia", line 2
SyntaxError: Non-UTF-8 code starting with '\x83' in file ia on line 3, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details`

I'm using Ubuntu 18.04 bionic.

[2018-07-06 18:10] jjjake commented on #259
Thanks for the report @B5045438.

I'm unable to replicate on a fresh install of Ubuntu 18.04, with Python 2.7.15rc1.

What version of Python do you have installed? Can you confirm which binary you're using (i.e. did you use `https://archive.org/download/ia-pex/ia`)?

Would you mind re-downloading https://archive.org/download/ia-pex/ia, and giving it a try again?

Thanks again for the report!

[2018-07-09 03:36] B5045438 commented on #259
I tried to redownload it and it seems to have fixed the issue right away. Must have been caused by a corrupted download.

[2018-07-09 18:14] #259 closed

[2018-07-31 18:31] vxbinaca opened #260 "End of uploading produces error"
`ia upload Ninja_Tune_ZenTV_DVD VIDEO_TS --delete`

[code]

I've managed to reproduce this twice including on a fresh item I squirted files into. This instance was just checking to see if anything was missing.

Edit: This could be related to the `--delete` flag.

[2018-08-02 17:53] jjjake commented on #260
@vxbinaca I just got this error in `ia upload` without `--delete`... I'm not sure what's causing it yet, but I have a hunch it's a connection error of sorts (e.g. the connection closes before a status_code is set?).

I'll keep you posted. Please let me know if you continue to run into this issue. If you're able to send along a timestamp (even if it's an estimate) along with the identifier, that wo

[2018-08-02 18:33] #260 closed

[2018-08-02 18:35] jjjake commented on #260
I found the issue @vxbinaca.

You were right that this was an issue with `--delete`, and also with `--checksum` (`--delete` sets `--checksum` to True).

The issue was that when a file already exists in the item (based on checksum), no request is sent and an empty `requests.Response()` object is returned. For some reason calling `r.ok` on an empty Response object works just fine in PY2, but not PY3

[2018-08-02 19:04] vxbinaca commented on #260
I got the issue only with `--delete` so I edited the issue. I'll give it a try in a bit and comment back here.

Glad I could help you find a bug.

[2018-08-03 05:15] mlissner opened #261 ""files" parameter is very flexible, but is underdocumented"
I wanted to upload a file and set the remote filename, and I was happy to discover this bit of documentation:

https://internetarchive.readthedocs.io/en/latest/api.html#setting-remote-filenames

Cool! But wait, I'm passing a dict to the `upload` function? I thought that took either a file object or a list of paths? Better double check the docs. Hm, the docs for that say:

So, I guess this means it

[2018-08-03 15:26] vxbinaca commented on #260
It's good push it to pypi. Thanks for stomping that bug, Jake.

[2018-08-03 16:14] jjjake commented on #261
Thanks for the feedback, @mlissner. I agree. I'll work on better documenting this!

[2018-08-03 18:33] jjjake commented on #261
@mlissner Let me know what you think of the updated docstring:

https://internetarchive.readthedocs.io/en/latest/internetarchive.html#internetarchive.Item.upload

The docs could use some work in general (e.g. surfacing these details in the Quickstart, etc.), but hopefully this updated docstring helps in the meantime.

Note that 7, 8, and 9 in your examples above are not currently supported. Let me

[2018-08-03 23:07] mlissner commented on #261
That's super helpful, yes!

I think they still need some tweaking here, though:

https://internetarchive.readthedocs.io/en/latest/api.html#internetarchive.upload

That method says that the first argument is `identifier`, which isn't right, right? And then it again doesn't explain the `files` argument?

[2018-08-06 20:01] geedublya opened #262 "Passing single quote in subject metadata"
Apologies if this has been answered a million times and/or is blindingly obvious, but I'm a bit new to all of this.

I'm trying to write an Apple Script that will pass information to IA, e.g. --metadata='subject:women's history'.

My struggle is figuring out how to tell Apple Script to pass along the single quote in a way that the shell script will recognize.

Appreciate any and all information th

[2018-08-06 20:29] jjjake commented on #261
That is confusing, but it is correct. Note that that's the docs for `internetarchive.upload` (i.e. `internetarchive.api.upload`) as opposed to `internetarchive.Item.upload`.

The function from the API (i.e. `internetarchive.upload`) does the item initialization for you, and then calls the `Item.upload` method which is why the first arg is `identifier`.

Does that make sense?

I'll think this over,

[2018-08-06 20:40] jjjake commented on #262
I'm not very familiar with Apple Script, but are you able to double quote the value instead of using single quotes (i.e. `--metadata="subject:women's history"` instead of `--metadata='subject:women's history'`)? Or escape the single quote (i.e. `--metadata='subject:women\'s history'`)?

Where is Apple Script getting the `--metadata` value from? Is it always the same, is it human input, or is it au

[2018-08-06 20:40] #262 closed

[2018-08-06 20:41] mlissner commented on #261
Oh, right, yes, that makes sense. I wondered what was going on there. Anyway, I assume the files arg could be better documented here, right?

[2018-08-06 20:56] geedublya commented on #262
Thanks!

So, the goal is to write an AppleScript to take human input to feed to the IA software.

My understanding is that the IA command line needs tags with a single quote, i.e.:

--metadata='subject:the_subject'

If I'm able to use double-quotes instead, that would certainly help. I'll update my code and give it a try now.

[2018-08-06 22:45] jjjake commented on #261
Yes, this would be a good place to document that. I'll keep this issue open until I can get around to that.

[2018-08-06 23:11] jjjake commented on #262
Double quotes will work just fine, though you might get unexpected results depending on what the input is.

For example, try this in your terminal:

    $ echo "hi $foo"
    hi
    $ echo 'hi $foo'
    hi $foo

You might find this stackoverflow question informative: https://stackoverflow.com/questions/6697753/difference-between-single-and-double-quotes-in-bash

Poking around a bit more about how t

[2018-08-13 19:46] geedublya commented on #262
Using double quotes instead of single quotes, plus adding some error proofing to ensure I don't pass a double quote through, is doing the trick very nicely!

i.e.:
--metadata="subject:the_subject"

instead of

--metadata='subject:the_subject'.

Many thanks!!

[2018-08-17 12:03] GrazingScientist opened #263 "Is it possible to upoload MARCXML files (or data)"
Hi,

I want to upload books automatically for BHL (Biodiversity Heritage Library) and they demand a MARCXML file in the metadata of the Internet Archive. Is it possible to upload this with the script?

Thanks!

[2018-08-17 17:38] jjjake commented on #263
@GrazingScientist Yup, just upload it like you would any other file.

We will derive metadata from the MARC record, if it's named in a specific format. From our FAQ:

Keep in mind that any metadata you add during upload may be overwritten with metadata from the MARC record after the item is derived.

Please feel free to email me if you need further help with this (my email is on my profile). Thank

[2018-08-17 17:38] #263 closed

[2018-08-29 14:34] StephenKrewson commented on #244
Support this! Have been having ConnectionError timeouts and max retries exceeded.

Passing in keyword args to Requests lib through get_session is kind of a hassle (and not sure if it will be any better than the defaults).

[2018-09-06 23:35] DoubleACS opened #264 "Skip file if exists"
I am using the bulk upload option with --spreadsheet=metadata.csv

When I did my first test everything worked perfectly.  A few minutes later I ran the command again and it started to upload the same files.

Is there a way (I looked in the help) to tell the bulk uploader to skip files if the same copy (date/time/size/etc) exists for the specified identifier?

[2018-09-07 17:09] DoubleACS commented on #264
You are correct.  --checksum does the job.

[2018-09-07 17:09] #264 closed

[2018-09-16 11:46] JustAnotherArchivist opened #265 "ia move crashes with a NameError when x-archive-keep-old-version header is not specified"
`ia move` is broken because the `headers` variable is undefined. If the `x-archive-keep-old-version` header is specified on the command line, the relevant code is not called, and so that can be used as a workaround. The problematic commit is f02f06c8 (#248).

    Traceback (most recent call last):
      File ".../bin/ia", line 11, in <module>
        sys.exit(main())
      File ".../lib/python3.4/

[2018-09-16 12:09] JustAnotherArchivist opened #266 "Option to preserve directory structure when uploading individual files"
As I learnt today, the directory structure is flattened when uploading individual files using `ia upload`. For example, when you `ia upload some_identifier dir1/file dir2/file`, the item ends up with `dir2/file` as `file` in the main directory and `dir1/file` in `history/files/file.~1~` due to the clobbering.

I'm aware that `ia upload some_identifier dir1 dir2` should upload the entire directorie

[2018-09-16 12:31] JustAnotherArchivist opened #267 "Better error messages when using ia upload --metadata incorrectly"
Earlier, I used a wrong syntax with `ia upload`'s `--metadata` option; specifically, I forgot to include the `description` field specifier and directly used `--metadata='My description: something.'` (instead of `--metadata='description:My description: something'`). That should obviously produce an error, and it did, but the error message was very unhelpful and led me to think the IA S3 API was hav

[2018-09-17 09:07] vxbinaca commented on #246
Option to not download derived files so I don't have to `rm -rf *.ogv *.sqlite` etc etc

[2018-09-18 01:07] jjjake commented on #267
See issue #176

[2018-09-18 01:07] #267 closed

[2018-09-18 01:09] jjjake commented on #266
I would recommend using `ia upload some_identifier dir1`, or `ia upload some_identifier file.txt --remote-name original/path/file.txt`.

[2018-09-18 01:10] jjjake commented on #265
Fixed in f087789e391cae41279e937064d8b2456d306c5d, will ship in the next release. Thanks for the heads up!

[2018-09-18 01:10] #265 closed

[2018-09-18 12:44] JustAnotherArchivist commented on #267
Are you sure that this is the same issue? Although the error message is the same, I wasn't using the bulk upload method.

Also, as mentioned, I've seen that same error occasionally due to general connectivity issues (fairly frequently in the last few days actually), but simply rerunning `ia` with the same command line usually worked fine. On the other hand, this specific case was perfectly reprodu

[2018-09-18 12:48] JustAnotherArchivist commented on #266
I'm aware of those options, but neither are what I'm trying to achieve. My goal is to upload multiple files in – but **not** all files from – subdirectories preserving the directories. Your first command will upload the entire directory, and the second only works for single files I think.

[2018-09-22 03:17] ethus3h opened #268 "`ia list` should have a way to list filenames without CSV-style escaping"
The output format of `ia list` (when only printing a list of names, the default behavior) is hard to parse: it uses CSV-style escaping, for example:

[code]
for a file named
[code]

This makes it hard to use in a shell script, because it requires a full CSV parser simply to iterate over the filenames.

It would be helpful to have a `-0` flag to output null-delimited sequences of bytes, with no esc

[2018-09-22 21:32] wobakj opened #269 "Receiving WinError 10053 when trying to upload"
Hello,
I am trying to upload files with a pyton script through the internetarchive.upload() function.
A second after the call the upload function, I receive the following exception:

I am using the PIP distribution of this module with Python 3.7 on Windows 7. I can upload files through the web interface an can modify item metadata through the python interface.
Disabling the firewall has no effect.

[2018-09-25 04:38] anarcat opened #270 "Debian packaging in progress"
Hi!

This is a friendly notice to let you know that [Debian](https://debian.org/) is working on packaging your software for Debian. You can follow the progress of that work in [bug #909550](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=909550) in the Debian Bug Tracking System (BTS).

The source code for the Debian package is in [this git repository](https://salsa.debian.org/python-team/module

[2018-09-25 14:09] anarcat opened #271 "PyPI archive does not match GitHub release"
The tarballs on PyPI do not match the git tag or, more precisely, the tarball generated by GitHub when the 1.8.1 tag was pushed. For example, the 1.8.1 version number is missing from setup.py in the GitHub tag. Some files, like `internetarchive/cli/ia_dark.py` are also missing from the GitHub release. The `docs/source/_static/ia.png` file differs, and more.

The PyPI tarball also embeds username i

[2018-09-25 16:01] jjjake commented on #271
`dark` and `undark` shouldn't be in any release. I'll make sure to take them out on the next release.

[2018-09-25 16:01] #271 closed

[2018-10-20 22:30] ahundt opened #275 "too many open files"
There appears to be quite a few file handle leaks (just open without a with statement). That may have led to the following error:
[code]

we fixed a few using with statements at https://github.com/jjjake/internetarchive/pull/274/files but there may be more, or a separate issue. Thanks!

[2018-10-21 11:33] edsu opened #276 "Resume Upload?"
I was uploading a directory of 300GB of data, and things worked fine for a day and a half, but then it stopped with an exception:

[code]

I was wondering if there is an easy way to resume the upload without reuploading all the content that already landed safely? I suppose a checksum of the data could be calculated locally and then checked against what is stored in the IA item?

If this seems of i

[2018-10-22 15:12] jjjake commented on #276
@edsu You can use the `--checksum` or `checksum=True` options. You must wait until all tasks in the item have finished running though. This is to avoid race conditions.

[2018-10-22 15:12] #276 closed

[2018-10-22 16:43] edsu commented on #276
Oh, nice! I totally missed the fact that `--checksum` and `checksum=True` would work for uploading as well as downloading. This is a really super module, thanks for creating it!

[2018-10-26 17:35] ahundt opened #278 "More reliable upload script"
Thanks for this API, it made us possible to make our dataset publicly available in a way that should be accessible for a long time to come. 👍

However, we ran into some problems with our rather large 0.5TB dataset  with >16k files of up to ~50MB each. In our testing the current `ia upload` command has a few issues:
1. reliably crashes after just over 1k files
2. can't finish uploading a large data

[2018-10-26 17:40] ahundt opened #279 "Setting thumbnail & item image"
1. Is there an API example for setting item thumbnail & item image?
2. Are there restrictions on the thumbnail dimensions & file type?

I looked through the documentation and past issues. I could not find an example of how to correctly specify this in a script. Thanks!

[2018-10-26 18:34] jjjake commented on #279
You can upload an image named in the format `<identifier>_itemimage.jpg`, or set the format of the image manually after upload:

```ia metadata <identifier> --target 'files/foo.jpg' --modify 'format:Item Image'```

```>>> item.modify_metadata(dict(format='Item Image'), target='files/foo.jpg')```